swagger: '2.0'
info:
  version: '1.0'
  title: NewStore address shipment-configurations API
  description: NewStore public APIs
  contact:
    email: support@newstore.com
    name: NewStore API Support
    url: https://developer.newstore.com
host: dodici-demo.p.newstore.net
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
security: []
tags:
- name: shipment-configurations
  description: Shipment Configurations
paths:
  /fulfillment/configurations/shipments/{name}:
    get:
      description: ''
      summary: showConfigurationByName
      tags:
      - shipment-configurations
      operationId: showConfigurationByName
      deprecated: false
      produces:
      - application/problem+json
      - application/json
      parameters:
      - name: name
        in: path
        required: true
        enum:
        - use_prioritized_provider_rates
        - use_customizable_provider_rates
        - set_fix_service_level_shipping_price
        - packing_time_duration
        - customization_adapter_config
        - carriers
        - adapter_http_timeout
        - fulfillment_node_customs_info
        - generate_static_option_for_dc
        type: string
      responses:
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/ResponseShowconfigurationbyname'
          headers: {}
        '400':
          description: Validation Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Problem'
          headers:
            Retry-After:
              type: string
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
      security:
      - oauth:
        - newstore:configuration:read
    post:
      description: ''
      summary: createConfigurationByName
      tags:
      - shipment-configurations
      operationId: createConfigurationByName
      deprecated: false
      produces:
      - application/problem+json
      - application/json
      consumes:
      - application/json
      parameters:
      - name: name
        in: path
        required: true
        enum:
        - use_prioritized_provider_rates
        - use_customizable_provider_rates
        - set_fix_service_level_shipping_price
        - packing_time_duration
        - customization_adapter_config
        - carriers
        - adapter_http_timeout
        - fulfillment_node_customs_info
        - generate_static_option_for_dc
        type: string
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Body'
      responses:
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/ResponseCreateconfigurationbyname'
          headers: {}
        '400':
          description: Validation Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Problem'
          headers:
            Retry-After:
              type: string
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
      security:
      - oauth:
        - newstore:configuration:write
  /fulfillment/configurations/shipments/checks:
    get:
      description: 'Designed for humans only: check Provider Rates, Service Levels, PRP and Carriers configurations'
      summary: showConfigurationsChecks
      tags:
      - shipment-configurations
      operationId: showConfigurationsChecks
      deprecated: false
      produces:
      - application/problem+json
      - application/json
      parameters: []
      responses:
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '200':
          description: Successful Response
          schema:
            type: object
            additionalProperties: {}
          headers: {}
        '400':
          description: Validation Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Problem'
          headers:
            Retry-After:
              type: string
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
      security:
      - oauth:
        - newstore:configuration:read
definitions:
  Problem:
    title: Problem
    type: object
    properties:
      detail:
        description: A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
        example: some description for the error situation
        type: string
      error_code:
        type: string
      instance:
        description: A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
        example: /some/uri-reference#specific-occurrence-context
        type: string
      message:
        type: string
      messages:
        type: array
        items:
          type: string
      request_id:
        type: string
      status:
        description: The HTTP status code generated by the origin server for this occurrence of the problem.
        type: integer
        minimum: 100.0
        maximum: 600.0
        exclusiveMaximum: true
        format: int32
      title:
        description: A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
        example: some title for the error situation
        type: string
      type:
        description: A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
        example: /some/uri-reference
        type: string
        default: about:blank
  ResponseShowconfigurationbyname:
    title: ResponseShowconfigurationbyname
    type: object
    properties:
      value:
        type: object
        allOf:
        - $ref: '#/definitions/Value'
        - description: fulfillment node ID to customs signer config
  Value:
    title: Value
    description: fulfillment node ID to customs signer config
    type: object
    properties:
      base_url:
        description: The Provider Rate customization adapter URL. Must end with a slash /
        type: string
        minLength: 1
        maxLength: 2083
      api_base_url:
        description: The shipping provider adapter URL. Must end with a slash /
        type: string
        minLength: 1
        maxLength: 2083
      api_key:
        type: string
      booking_includes_return:
        type: boolean
        default: false
      return_deliveries_should_be_canceled:
        type: boolean
        default: false
      customs_signer:
        type: string
        minLength: 1
    required:
    - base_url
    - api_base_url
    - customs_signer
  ResponseCreateconfigurationbyname:
    title: ResponseCreateconfigurationbyname
    type: object
    properties:
      value:
        type: object
        allOf:
        - $ref: '#/definitions/Value'
        - description: fulfillment node ID to customs signer config
  Body:
    title: Body
    type: object
    properties:
      value:
        type: object
        allOf:
        - $ref: '#/definitions/Value'
        - description: fulfillment node ID to customs signer config
securityDefinitions:
  oauth:
    type: oauth2
    flow: application
    tokenUrl: https://id.p.newstore.net/auth/realms/dodici-demo/protocol/openid-connect/token
    scopes:
      catalog:import-schemas:read: Grants privileges to read import schema
      catalog:import-schemas:write: Grants privileges to write import schema
      catalog:pricebook-export:read: Grants privileges to export pricebook data
      catalog:product-export:read: Grants privileges to export product data
      checkout:carts:read: Grants privileges to read cart data
      checkout:carts:write: Grants privileges to write cart data
      clienteling:profile:read: Grants privileges to read clienteling profiles
      customer:profile:read: Grants privileges to read API customer data
      customer:profile:write: Grants privileges to modify API customer data
      newstore:configuration:read: Grants privileges to read configuration
      newstore:configuration:write: Grants privileges to write configuration
      fiscalization:orders:read: View orders with fiscal transactions and signatures
      fiscalization:orders:write: Create orders with fiscal transactions and signatures
      shipments:read: Read Shipping Options and Audits
      iam:providers:read: ' Grants read privileges to provider resources'
      iam:providers:write: ' Grants write privileges to provider resources'
      iam:roles:read: ' Grants privileges to read roles data'
      iam:roles:write: ' Grants privileges to write roles data'
      iam:users:read: ' Grants privileges to read user data'
      iam:users:write: ' Grants privileges to write user data'
      inventory:reservations:read: Allows access to retrieve reservations
      inventory:reservations:write: Allows access to create and update reservations
      promotions:config:read: Grants privileges to read configuration
      promotions:config:write: Grants privileges to write into configuration
      promotions:reason-codes:read: Grants privileges to list reason codes
      promotions:reason-codes:write: Grants privileges to create and update reason codes
      audit-events:read: Grants read access to the tenant's audit events.
      taxes:preview-transactions:write: Preview tax transactions
      taxes:transactions:read: Read tax transactions
