openapi: 3.2.0
info:
  version: '1.0'
  title: NewStore Cart API
  description: NewStore public APIs
  contact:
    email: support@newstore.com
    name: NewStore API Support
    url: https://developer.newstore.com
servers:
- url: https://dodici-demo.p.newstore.net/
security: []
tags:
- name: Cart
  description: Operations on carts
paths:
  /checkout/carts:
    post:
      description: Creates a new empty cart.
      summary: createCart
      tags:
      - Cart
      operationId: createCart
      deprecated: false
      parameters:
      - name: Content-Type
        in: header
        required: false
        description: ''
        schema:
          type: string
          enum:
          - application/json
      responses:
        default:
          description: Unexpected error not otherwise documented
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '201':
          description: Created
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Expose-Headers:
              schema:
                type: string
            Location:
              schema:
                type: string
        '400':
          description: Bad Request
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          description: Unprocessable Entity
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - checkout:carts:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCartRequestBody'
        required: true
  /checkout/carts/{cartId}:
    get:
      description: Returns a cart by its ID.
      summary: showCart
      tags:
      - Cart
      operationId: showCart
      deprecated: false
      parameters:
      - name: cartId
        in: path
        required: true
        description: Cart ID
        schema:
          type: string
      responses:
        default:
          description: Unexpected error not otherwise documented
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '200':
          description: OK
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CartResource'
            application/json:
              schema:
                $ref: '#/components/schemas/CartResource'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          description: Unprocessable Entity
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - checkout:carts:read
    patch:
      description: Changes a cart.
      summary: updateCart
      tags:
      - Cart
      operationId: updateCart
      deprecated: false
      parameters:
      - name: cartId
        in: path
        required: true
        description: Cart ID
        schema:
          type: string
      - name: Content-Type
        in: header
        required: false
        description: ''
        schema:
          type: string
          enum:
          - application/json
      responses:
        default:
          description: Unexpected error not otherwise documented
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Expose-Headers:
              schema:
                type: string
        '400':
          description: Bad Request
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Conflict
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          description: Unprocessable Entity
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - checkout:carts:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeCartRequestBody'
        required: true
  /checkout/carts/{cartId}/items:
    post:
      description: Add a line item to a cart
      summary: createLineItem
      tags:
      - Cart
      operationId: createLineItem
      deprecated: false
      parameters:
      - name: cartId
        in: path
        required: true
        description: Cart ID
        schema:
          type: string
      - name: Content-Type
        in: header
        required: false
        description: ''
        schema:
          type: string
          enum:
          - application/json
      responses:
        default:
          description: Unexpected error not otherwise documented
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '201':
          description: Created
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Expose-Headers:
              schema:
                type: string
            Location:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AddItemResponseBody'
            application/json:
              schema:
                $ref: '#/components/schemas/AddItemResponseBody'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Conflict
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          description: Unprocessable Entity
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - checkout:carts:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddItemRequestBody'
        required: true
  /checkout/carts/{cartId}/items/{lineItemId}:
    delete:
      description: Removes a line item and all its add-ons from the cart.
      summary: destroyLineItem
      tags:
      - Cart
      operationId: destroyLineItem
      deprecated: false
      parameters:
      - name: cartId
        in: path
        required: true
        description: Cart ID
        schema:
          type: string
      - name: lineItemId
        in: path
        required: true
        description: Line Item ID
        schema:
          type: string
      responses:
        default:
          description: Unexpected error not otherwise documented
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '200':
          description: OK
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RemoveItemResponseBody'
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveItemResponseBody'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Conflict
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          description: Unprocessable Entity
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - checkout:carts:write
    patch:
      description: Updates cart line item details
      summary: updateLineItem
      tags:
      - Cart
      operationId: updateLineItem
      deprecated: false
      parameters:
      - name: cartId
        in: path
        required: true
        description: Cart ID
        schema:
          type: string
      - name: lineItemId
        in: path
        required: true
        description: Line Item ID
        schema:
          type: string
      - name: Content-Type
        in: header
        required: false
        description: ''
        schema:
          type: string
          enum:
          - application/json
      responses:
        default:
          description: Unexpected error not otherwise documented
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Expose-Headers:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ChangeItemResponseBody'
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeItemResponseBody'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Conflict
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          description: Unprocessable Entity
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - checkout:carts:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeItemRequestBody'
        required: true
  /checkout/carts/{cartId}/items/{lineItemId}/add-ons:
    post:
      description: Create an add-on for a line item on a cart
      summary: createAddOnLineItem
      tags:
      - Cart
      operationId: createAddOnLineItem
      deprecated: false
      parameters:
      - name: cartId
        in: path
        required: true
        description: Cart ID
        schema:
          type: string
      - name: lineItemId
        in: path
        required: true
        description: Parent Line Item ID
        schema:
          type: string
      - name: Content-Type
        in: header
        required: false
        description: ''
        schema:
          type: string
          enum:
          - application/json
      responses:
        default:
          description: Unexpected error not otherwise documented
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '201':
          description: Created
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Expose-Headers:
              schema:
                type: string
            Location:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AddItemResponseBody'
            application/json:
              schema:
                $ref: '#/components/schemas/AddItemResponseBody'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Conflict
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          description: Unprocessable Entity
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - checkout:carts:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddItemRequestBody'
        required: true
components:
  schemas:
    CartResource:
      title: CartResource
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/CartLinks'
        associate_id:
          description: Associate ID
          type: string
        catalog:
          description: Catalog name
          type: string
        channel_id:
          description: Channel ID, corresponds to the store ID if channel_type is STORE
          type: string
        channel_type:
          description: Channel type (e.g. STORE)
          type: string
        currency:
          description: ISO 4217 currency code
          type: string
        customer_id:
          description: Customer ID
          type: string
        device_id:
          description: Device ID
          type: string
        id:
          description: Cart ID
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/ItemResource'
        locale:
          description: Catalog locale
          type: string
        state:
          description: Cart state
          type: string
      required:
      - _links
      - associate_id
      - catalog
      - channel_id
      - channel_type
      - currency
      - id
      - items
      - locale
      - state
    RemoveItemResponseBody:
      title: RemoveItemResponseBody
      type: object
      properties:
        messages:
          description: Informational messages
          type: array
          items:
            type: string
        warnings:
          description: Warning messages
          type: array
          items:
            type: string
      required:
      - messages
      - warnings
    AddOnResource:
      title: AddOnResource
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/AddOnLinks'
        extended_attributes:
          description: Extended attributes
          type: array
          items:
            $ref: '#/components/schemas/ExtendedAttribute'
        fulfillment:
          description: Fulfillment method, can be SHIPPING,IN_STORE_HANDOVER
          type: string
        id:
          description: Line ID
          type: string
        price:
          $ref: '#/components/schemas/ItemPrice'
        product_id:
          description: Item ID
          type: string
        quantity:
          description: Number of items in the line
          type: integer
          format: int32
        source_id:
          description: Source identifier
          type: string
      required:
      - _links
      - extended_attributes
      - id
      - price
      - product_id
      - quantity
    AddItemExtendedAttribute:
      title: AddItemExtendedAttribute
      type: object
      properties:
        name:
          example: engraving
          type: string
        value:
          example: For you.
          type: string
      required:
      - name
      - value
    AddItemResponseBody:
      title: AddItemResponseBody
      type: object
      properties:
        messages:
          type: array
          items:
            type: string
          maxItems: 100
        warnings:
          type: array
          items:
            type: string
          maxItems: 100
      required:
      - messages
      - warnings
    Link:
      title: Link
      type: object
      properties:
        href:
          description: Resource URI
          type: string
        method:
          description: Request method
          type: string
      required:
      - href
    ChangeItemExtendedAttribute:
      title: ChangeItemExtendedAttribute
      type: object
      properties:
        name:
          example: engraving
          type: string
        value:
          example: For you.
          type: string
      required:
      - name
      - value
    ItemResource:
      title: ItemResource
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/ItemLinks'
        add_ons:
          description: Item add-ons
          type: array
          items:
            $ref: '#/components/schemas/AddOnResource'
        epc:
          description: Electronic Product Code
          type: string
        extended_attributes:
          description: Extended attributes
          type: array
          items:
            $ref: '#/components/schemas/ExtendedAttribute'
        fulfillment:
          description: Fulfillment method, can be SHIPPING,IN_STORE_HANDOVER
          type: string
        id:
          description: Line ID
          type: string
        price:
          $ref: '#/components/schemas/ItemPrice'
        product_id:
          description: Item ID
          type: string
        quantity:
          description: Number of items in the line
          type: integer
          format: int32
        serial_number:
          description: Unique item serial number
          type: string
        source_id:
          description: Source identifier
          type: string
      required:
      - _links
      - add_ons
      - extended_attributes
      - id
      - price
      - product_id
      - quantity
    AddItemRequestBody:
      title: AddItemRequestBody
      type: object
      properties:
        epc:
          example: 30A12BCDEF0123456789A1BCDEF01234
          type: string
        extended_attributes:
          type: array
          items:
            $ref: '#/components/schemas/AddItemExtendedAttribute'
          maxItems: 100
        fulfillment:
          type: object
          allOf:
          - $ref: '#/components/schemas/Fulfillment'
          - description: Fulfillment type
        price:
          $ref: '#/components/schemas/AddItemItemPrice'
        product_id:
          description: Product ID
          example: '1000761'
          type: string
        serial_number:
          example: ABC123
          type: string
        source_id:
          description: Source identifier
          example: gid://newstore/reservations/523/items/345
          type: string
      required:
      - product_id
    CreateCartRequestBody:
      title: CreateCartRequestBody
      type: object
      properties:
        associate_id:
          description: Associate ID
          example: 0196f384-9d57-72bc-b2ed-bf489d65719d
          type: string
          minLength: 1
        catalog:
          description: Catalog name
          example: storefront-catalog-en
          type: string
          minLength: 1
        channel_id:
          description: Channel ID (e.g. the store ID)
          example: US_BOSTON_01
          type: string
          minLength: 1
        channel_type:
          description: Channel type
          type: string
          default: STORE
        currency:
          description: Currency
          example: USD
          type: string
          pattern: ^[a-zA-Z]{3}$
        customer_id:
          description: Customer ID
          example: 0196f384-9d57-7190-9e3e-89d5816f5805
          type: string
          minLength: 1
        device_id:
          description: Device ID
          example: 0196f384-9d57-72bc-b2ed-bf489d65719d
          type: string
          minLength: 1
        locale:
          description: Catalog locale
          example: en_US
          type: string
          minLength: 1
      required:
      - associate_id
      - catalog
      - channel_id
      - channel_type
      - currency
      - locale
    Fulfillment:
      title: Fulfillment
      description: Fulfillment type
      type: string
      enum:
      - SHIPPING
      - IN_STORE_HANDOVER
    Source:
      title: Source
      description: Price source
      example: INTERNAL
      type: string
      enum:
      - INTERNAL
      - internal
    ChangeItemResponseBody:
      title: ChangeItemResponseBody
      type: object
      properties:
        messages:
          type: array
          items:
            type: string
        warnings:
          type: array
          items:
            type: string
      required:
      - messages
      - warnings
    CartLinks:
      title: CartLinks
      type: object
      properties:
        add_item:
          $ref: '#/components/schemas/Link'
        change_cart:
          $ref: '#/components/schemas/Link'
        items:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
      required:
      - items
      - self
    Problem:
      title: Problem
      type: object
      properties:
        detail:
          description: A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some description for the error situation
          type: string
        error_code:
          type: string
        instance:
          description: A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
          example: /some/uri-reference#specific-occurrence-context
          type: string
        message:
          type: string
        messages:
          type: array
          items:
            type: string
        request_id:
          type: string
        status:
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          type: integer
          minimum: 100.0
          format: int32
          exclusiveMaximum: 600.0
        title:
          description: A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some title for the error situation
          type: string
        type:
          description: A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
          example: /some/uri-reference
          type: string
          default: about:blank
    ExtendedAttribute:
      title: ExtendedAttribute
      type: object
      properties:
        name:
          description: Extended attribute name
          type: string
        value:
          description: Extended attribute value
          type: string
      required:
      - name
      - value
    AddItemItemPrice:
      title: AddItemItemPrice
      type: object
      properties:
        source:
          type: object
          allOf:
          - $ref: '#/components/schemas/Source'
          - description: Price source
            example: INTERNAL
        source_id:
          description: Price source ID, e.g. name of pricebook
          example: default
          type: string
    ItemPrice:
      title: ItemPrice
      type: object
      properties:
        source:
          type: string
        source_id:
          type: string
      required:
      - source
      - source_id
    ChangeItemRequestBody:
      title: ChangeItemRequestBody
      type: object
      properties:
        extended_attributes:
          type: array
          items:
            $ref: '#/components/schemas/ChangeItemExtendedAttribute'
        fulfillment:
          type: object
          allOf:
          - $ref: '#/components/schemas/Fulfillment'
          - description: Fulfillment type
        source_id:
          description: Source identifier
          example: gid://newstore/reservations/523/items/345
          type: string
    AddOnLinks:
      title: AddOnLinks
      type: object
      properties:
        change_add_on:
          $ref: '#/components/schemas/Link'
        remove_add_on:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
      required:
      - self
    ItemLinks:
      title: ItemLinks
      type: object
      properties:
        add_add_on:
          $ref: '#/components/schemas/Link'
        add_ons:
          $ref: '#/components/schemas/Link'
        change_item:
          $ref: '#/components/schemas/Link'
        remove_item:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
      required:
      - add_ons
      - self
    ChangeCartRequestBody:
      title: ChangeCartRequestBody
      type: object
      properties:
        customer_id:
          description: Customer ID
          example: 0196f384-9d57-7190-9e3e-89d5816f5805
          type: string
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            catalog:import-schemas:read: Grants privileges to read import schema
            catalog:import-schemas:write: Grants privileges to write import schema
            catalog:pricebook-export:read: Grants privileges to export pricebook data
            catalog:product-export:read: Grants privileges to export product data
            checkout:carts:read: Grants privileges to read cart data
            checkout:carts:write: Grants privileges to write cart data
            clienteling:profile:read: Grants privileges to read clienteling profiles
            customer:profile:read: Grants privileges to read API customer data
            customer:profile:write: Grants privileges to modify API customer data
            newstore:configuration:read: Grants privileges to read configuration
            newstore:configuration:write: Grants privileges to write configuration
            fiscalization:orders:read: View orders with fiscal transactions and signatures
            fiscalization:orders:write: Create orders with fiscal transactions and signatures
            shipments:read: Read Shipping Options and Audits
            iam:providers:read: ' Grants read privileges to provider resources'
            iam:providers:write: ' Grants write privileges to provider resources'
            iam:roles:read: ' Grants privileges to read roles data'
            iam:roles:write: ' Grants privileges to write roles data'
            iam:users:read: ' Grants privileges to read user data'
            iam:users:write: ' Grants privileges to write user data'
            inventory:reservations:read: Allows access to retrieve reservations
            inventory:reservations:write: Allows access to create and update reservations
            promotions:config:read: Grants privileges to read configuration
            promotions:config:write: Grants privileges to write into configuration
            promotions:reason-codes:read: Grants privileges to list reason codes
            promotions:reason-codes:write: Grants privileges to create and update reason codes
            audit-events:read: Grants read access to the tenant's audit events.
            taxes:preview-transactions:write: Preview tax transactions
            taxes:transactions:read: Read tax transactions
          tokenUrl: https://id.p.newstore.net/auth/realms/dodici-demo/protocol/openid-connect/token
