openapi: 3.2.0
info:
  version: '1.0'
  title: NewStore Customer Configuration API
  description: NewStore public APIs
  contact:
    email: support@newstore.com
    name: NewStore API Support
    url: https://developer.newstore.com
servers:
- url: https://dodici-demo.p.newstore.net/
security: []
tags:
- name: Customer Configuration
  description: Customer API Configurations
paths:
  /customer/config:
    get:
      description: Returns configuration settings for the tenant, including BYO CRM settings.
      summary: showConfiguration
      tags:
      - Customer Configuration
      operationId: showConfiguration
      deprecated: false
      responses:
        default:
          description: Unexpected error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '200':
          description: The configuration settings.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConfigurationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationResponse'
        '403':
          description: Forbidden.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal server error.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - newstore:configuration:read
    patch:
      description: 'Updates configuration settings for the tenant, including BYO CRM settings.


        Note that the following restrictions exist:


        - BYO CRM and `nom_consumer_profiles_merge` can''t be enabled at the same time.'
      summary: updateConfiguration
      tags:
      - Customer Configuration
      operationId: updateConfiguration
      deprecated: false
      parameters:
      - name: Content-Type
        in: header
        required: false
        description: ''
        schema:
          type: string
          enum:
          - application/json
      responses:
        default:
          description: Unexpected error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '200':
          description: The updated configuration settings.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConfigurationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationResponse'
        '403':
          description: Forbidden.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          description: Incompatible configuration settings.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal server error.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - newstore:configuration:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationRequest'
        description: Configuration settings to update
        required: true
components:
  schemas:
    ByoCrmConfigRequest:
      title: ByoCrmConfigRequest
      description: BYO CRM configuration settings
      type: object
      properties:
        api_token:
          description: API token for the CRM provider, set to empty string `""` to clear the value
          example: some-api-token
          type: string
        enabled:
          description: Whether BYO CRM is enabled for the tenant
          example: true
          type: boolean
          default: false
        url:
          description: URL of the CRM provider, set to empty string `""` to clear the value
          example: https://provider-url.com
          type: string
    Problem:
      title: Problem
      type: object
      properties:
        detail:
          description: A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some description for the error situation
          type: string
        error_code:
          type: string
        instance:
          description: A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
          example: /some/uri-reference#specific-occurrence-context
          type: string
        message:
          type: string
        messages:
          type: array
          items:
            type: string
        request_id:
          type: string
        status:
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          type: integer
          minimum: 100.0
          format: int32
          exclusiveMaximum: 600.0
        title:
          description: A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some title for the error situation
          type: string
        type:
          description: A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
          example: /some/uri-reference
          type: string
          default: about:blank
    ByoCrmConfigResponse:
      title: ByoCrmConfigResponse
      description: BYO CRM configuration settings
      type: object
      properties:
        api_token:
          description: API token for the CRM provider
          example: some-api-token
          type: string
        enabled:
          description: Whether BYO CRM is enabled for the tenant
          example: true
          type: boolean
          default: 'false'
        url:
          description: URL of the CRM provider
          example: https://provider-url.com
          type: string
      required:
      - api_token
      - enabled
      - url
    ConfigurationRequest:
      title: ConfigurationRequest
      description: Configurations request for updating BYO CRM settings and customer feature toggles.
      type: object
      properties:
        byo_crm:
          type: object
          allOf:
          - $ref: '#/components/schemas/ByoCrmConfigRequest'
          - description: BYO CRM configuration settings
        first_and_last_name_enabled:
          description: Whether first and last name fields are enabled for the tenant.
          example: true
          type: boolean
        nom_consumer_profiles_merge:
          description: Whether consumer profile merge is enabled for the tenant.
          example: true
          type: boolean
    ConfigurationResponse:
      title: ConfigurationResponse
      description: Configurations response containing BYO CRM settings and customer feature toggles.
      type: object
      properties:
        byo_crm:
          type: object
          allOf:
          - $ref: '#/components/schemas/ByoCrmConfigResponse'
          - description: BYO CRM configuration settings
        first_and_last_name_enabled:
          description: Whether first and last name fields are enabled for the tenant.
          example: true
          type: boolean
        nom_consumer_profiles_merge:
          description: Whether consumer profile merge is enabled for the tenant.
          example: true
          type: boolean
      required:
      - byo_crm
      - first_and_last_name_enabled
      - nom_consumer_profiles_merge
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            catalog:import-schemas:read: Grants privileges to read import schema
            catalog:import-schemas:write: Grants privileges to write import schema
            catalog:pricebook-export:read: Grants privileges to export pricebook data
            catalog:product-export:read: Grants privileges to export product data
            checkout:carts:read: Grants privileges to read cart data
            checkout:carts:write: Grants privileges to write cart data
            clienteling:profile:read: Grants privileges to read clienteling profiles
            customer:profile:read: Grants privileges to read API customer data
            customer:profile:write: Grants privileges to modify API customer data
            newstore:configuration:read: Grants privileges to read configuration
            newstore:configuration:write: Grants privileges to write configuration
            fiscalization:orders:read: View orders with fiscal transactions and signatures
            fiscalization:orders:write: Create orders with fiscal transactions and signatures
            shipments:read: Read Shipping Options and Audits
            iam:providers:read: ' Grants read privileges to provider resources'
            iam:providers:write: ' Grants write privileges to provider resources'
            iam:roles:read: ' Grants privileges to read roles data'
            iam:roles:write: ' Grants privileges to write roles data'
            iam:users:read: ' Grants privileges to read user data'
            iam:users:write: ' Grants privileges to write user data'
            inventory:reservations:read: Allows access to retrieve reservations
            inventory:reservations:write: Allows access to create and update reservations
            promotions:config:read: Grants privileges to read configuration
            promotions:config:write: Grants privileges to write into configuration
            promotions:reason-codes:read: Grants privileges to list reason codes
            promotions:reason-codes:write: Grants privileges to create and update reason codes
            audit-events:read: Grants read access to the tenant's audit events.
            taxes:preview-transactions:write: Preview tax transactions
            taxes:transactions:read: Read tax transactions
          tokenUrl: https://id.p.newstore.net/auth/realms/dodici-demo/protocol/openid-connect/token
