openapi: 3.2.0
info:
  version: '1.0'
  title: NewStore Tenant Config API
  description: NewStore public APIs
  contact:
    email: support@newstore.com
    name: NewStore API Support
    url: https://developer.newstore.com
servers:
- url: https://dodici-demo.p.newstore.net/
security: []
tags:
- name: Tenant Config
  description: Tenant configuration
paths:
  /config:
    get:
      description: Get fiscal configuration of the tenant.
      summary: showTenantConfig
      tags:
      - Tenant Config
      operationId: showTenantConfig
      deprecated: false
      parameters:
      - name: version
        in: query
        required: false
        description: 'Configuration version number.

          * If left empty, the latest version of the configuration will be returned.'
        schema:
          type: number
          format: double
      - name: include_metadata
        in: query
        required: false
        description: Include metadata fields.
        schema:
          type: boolean
          default: false
      responses:
        default:
          description: Unexpected error.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '200':
          description: Tenant configuration.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/TenantConfigV1Dto'
            application/json:
              schema:
                $ref: '#/components/schemas/TenantConfigV1Dto'
        '401':
          description: Unauthorized.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - newstore:configuration:read
  /config/offline-mode:
    get:
      description: Get list of countries supporting offline-mode for the tenant.
      summary: showTenantOfflineModeConfig
      tags:
      - Tenant Config
      operationId: showTenantOfflineModeConfig
      deprecated: false
      responses:
        default:
          description: Unexpected error.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '200':
          description: List of countries supporting offline-mode.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/OfflineCountriesResponseV1Dto'
            application/json:
              schema:
                $ref: '#/components/schemas/OfflineCountriesResponseV1Dto'
        '401':
          description: Unauthorized.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - newstore:configuration:read
    patch:
      description: 'Update list of countries supporting offline-mode for the tenant.

        * Only editable countries are allowed.

        * List of editable countries can be retireved through `GET /f11n/config`.'
      summary: updateTenantOfflineModeConfig
      tags:
      - Tenant Config
      operationId: updateTenantOfflineModeConfig
      deprecated: false
      parameters:
      - name: Content-Type
        in: header
        required: false
        description: ''
        schema:
          type: string
          enum:
          - application/json
      responses:
        default:
          description: Unexpected error.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '200':
          description: Offline config that was updated.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/OfflineCountriesResponseV1Dto'
            application/json:
              schema:
                $ref: '#/components/schemas/OfflineCountriesResponseV1Dto'
        '400':
          description: Bad request.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - newstore:configuration:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfflineCountriesUpdateRequestV1Dto'
        required: true
components:
  schemas:
    Problem:
      title: Problem
      type: object
      properties:
        detail:
          description: A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some description for the error situation
          type: string
        error_code:
          type: string
        instance:
          description: A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
          example: /some/uri-reference#specific-occurrence-context
          type: string
        message:
          type: string
        messages:
          type: array
          items:
            type: string
        request_id:
          type: string
        status:
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          type: integer
          minimum: 100.0
          format: int32
          exclusiveMaximum: 600.0
        title:
          description: A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some title for the error situation
          type: string
        type:
          description: A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
          example: /some/uri-reference
          type: string
          default: about:blank
    OfflineCountryConfigMetadataV1Dto:
      title: OfflineCountryConfigMetadataV1Dto
      type: object
      properties:
        allowed_strategies:
          description: 'List of allowed strategies for the current country.

            * Metadata field.'
          type: array
          items:
            $ref: '#/components/schemas/TransactionSignatureStrategy'
          maxItems: 4
        editable:
          description: 'Defines whether offline mode can be enabled for this country.

            * Metadata field.'
          type: boolean
        enabled:
          description: Defines whether offline mode is enabled for this country.
          type: boolean
        strategy:
          $ref: '#/components/schemas/TransactionSignatureStrategy'
      required:
      - enabled
      - strategy
    OfflineCountryConfigV1Dto:
      title: OfflineCountryConfigV1Dto
      type: object
      properties:
        enabled:
          description: Defines whether offline mode is enabled for this country.
          type: boolean
        strategy:
          $ref: '#/components/schemas/TransactionSignatureStrategy'
      required:
      - enabled
      - strategy
    OfflineCountriesConfigMetadataV1Dto:
      title: OfflineCountriesConfigMetadataV1Dto
      type: object
      properties:
        AT:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigMetadataV1Dto'
          - description: Per country offline mode configuration for Austria.
        DE:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigMetadataV1Dto'
          - description: Per country offline mode configuration for Germany.
        ES:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigMetadataV1Dto'
          - description: Per country offline mode configuration for Spain.
        FR:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigMetadataV1Dto'
          - description: Per country offline mode configuration for France.
        IE:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigMetadataV1Dto'
          - description: Per country offline mode configuration for Ireland.
        IN:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigMetadataV1Dto'
          - description: Per country offline mode configuration for India.
        IT:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigMetadataV1Dto'
          - description: Per country offline mode configuration for Italy.
        MC:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigMetadataV1Dto'
          - description: Per country offline mode configuration for Monaco.
        'NO':
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigMetadataV1Dto'
          - description: Per country offline mode configuration for Norway.
        PL:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigMetadataV1Dto'
          - description: Per country offline mode configuration for Poland.
        PR:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigMetadataV1Dto'
          - description: Per country offline mode configuration for Puerto Rico.
        SE:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigMetadataV1Dto'
          - description: Per country offline mode configuration for Sweden.
        TH:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigMetadataV1Dto'
          - description: Per country offline mode configuration for Thailand.
      required:
      - AT
      - DE
      - ES
      - FR
      - IE
      - IN
      - IT
      - MC
      - 'NO'
      - PL
      - PR
      - SE
      - TH
    OfflineCountriesConfigUpdateV1Dto:
      title: OfflineCountriesConfigUpdateV1Dto
      type: object
      properties:
        AT:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Austria.
        DE:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Germany.
        ES:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Spain.
        FR:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for France.
        IE:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Ireland.
        IN:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for India
        IT:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Italy.
        MC:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Monaco.
        PL:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Poland.
        PR:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Puerto Rico.
        TH:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Thailand.
    TenantConfigV1Dto:
      title: TenantConfigV1Dto
      type: object
      properties:
        created_at:
          description: Creation date of the configuration.
          example: '2024-05-13T07:52:32.285Z'
          type: string
          format: date-time
        environment:
          $ref: '#/components/schemas/FiscalEnvironment'
        offline_countries:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountriesConfigMetadataV1Dto'
          - description: Offline mode configuration per country.
        updated_at:
          description: Latest update date of the configuration.
          example: '2024-05-13T07:52:32.285Z'
          type: string
          format: date-time
        updated_by:
          description: User identifier who updated the current version of the configuration.
          example: '2136871599'
          type: string
        version:
          description: 'Version number of the configuration.

            * Version number `0` represents the system defaults.'
          example: 1
          type: integer
          format: int32
      required:
      - environment
      - offline_countries
      - version
    OfflineCountriesUpdateRequestV1Dto:
      title: OfflineCountriesUpdateRequestV1Dto
      type: object
      properties:
        offline_countries:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountriesConfigUpdateV1Dto'
          - description: Per country offline mode configuration.
      required:
      - offline_countries
    TransactionSignatureStrategy:
      title: TransactionSignatureStrategy
      description: "Offline transaction signature strategy that will be used while processing offline transactions.\n* `standard-signing`\n\n\n  * Offline orders will be fiscally signed according to regulations.\n  * Can be used in cases if the receipt would be emailed once the offline order is processed.\n* `late-signing`\n\n\n  * Offline orders will be signed with late signing flag.\n  * Can be used in cases if the receipt would be emailed once the offline order is processed.\n* `manual-receipts`\n\n\n  * Offline orders will be signed with manual flag.\n  * A receipt for the offline orders and do not need to be emailed later.\n  * Can be used in cases if the a manual receipt was issued by the store, and an electronic receipt should not be sent.\n* `no-signing`\n\n\n  * Offline orders will not be signed and should be considered completed without any signature needed.\n  * Can be used in cases if the fiscal signature was issued outside of the NewStore platform."
      example: no-signing
      type: string
      enum:
      - standard-signing
      - late-signing
      - manual-receipts
      - no-signing
    OfflineCountriesResponseV1Dto:
      title: OfflineCountriesResponseV1Dto
      type: object
      properties:
        offline_countries:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountriesConfigV1Dto'
          - description: Per country offline mode configuration.
      required:
      - offline_countries
    OfflineCountriesConfigV1Dto:
      title: OfflineCountriesConfigV1Dto
      type: object
      properties:
        AT:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Austria.
        DE:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Germany.
        ES:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Spain.
        FR:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for France.
        IE:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Ireland.
        IN:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for India.
        IT:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Italy.
        MC:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Monaco.
        'NO':
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Norway.
        PL:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Poland.
        PR:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Puerto Rico.
        SE:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Sweden.
        TH:
          type: object
          allOf:
          - $ref: '#/components/schemas/OfflineCountryConfigV1Dto'
          - description: Per country offline mode configuration for Thailand.
      required:
      - AT
      - DE
      - ES
      - FR
      - IE
      - IN
      - IT
      - MC
      - 'NO'
      - PL
      - PR
      - SE
      - TH
    FiscalEnvironment:
      title: FiscalEnvironment
      description: Fiscal environment of the tenant.
      example: non-production
      type: string
      enum:
      - non-production
      - production
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            catalog:import-schemas:read: Grants privileges to read import schema
            catalog:import-schemas:write: Grants privileges to write import schema
            catalog:pricebook-export:read: Grants privileges to export pricebook data
            catalog:product-export:read: Grants privileges to export product data
            checkout:carts:read: Grants privileges to read cart data
            checkout:carts:write: Grants privileges to write cart data
            clienteling:profile:read: Grants privileges to read clienteling profiles
            customer:profile:read: Grants privileges to read API customer data
            customer:profile:write: Grants privileges to modify API customer data
            newstore:configuration:read: Grants privileges to read configuration
            newstore:configuration:write: Grants privileges to write configuration
            fiscalization:orders:read: View orders with fiscal transactions and signatures
            fiscalization:orders:write: Create orders with fiscal transactions and signatures
            shipments:read: Read Shipping Options and Audits
            iam:providers:read: ' Grants read privileges to provider resources'
            iam:providers:write: ' Grants write privileges to provider resources'
            iam:roles:read: ' Grants privileges to read roles data'
            iam:roles:write: ' Grants privileges to write roles data'
            iam:users:read: ' Grants privileges to read user data'
            iam:users:write: ' Grants privileges to write user data'
            inventory:reservations:read: Allows access to retrieve reservations
            inventory:reservations:write: Allows access to create and update reservations
            promotions:config:read: Grants privileges to read configuration
            promotions:config:write: Grants privileges to write into configuration
            promotions:reason-codes:read: Grants privileges to list reason codes
            promotions:reason-codes:write: Grants privileges to create and update reason codes
            audit-events:read: Grants read access to the tenant's audit events.
            taxes:preview-transactions:write: Preview tax transactions
            taxes:transactions:read: Read tax transactions
          tokenUrl: https://id.p.newstore.net/auth/realms/dodici-demo/protocol/openid-connect/token
