openapi: 3.2.0
info:
  version: '1.0'
  title: NewStore Product export API
  description: NewStore public APIs
  contact:
    email: support@newstore.com
    name: NewStore API Support
    url: https://developer.newstore.com
servers:
- url: https://dodici-demo.p.newstore.net/
security: []
tags:
- name: Product Export
  description: Product Export
paths:
  /catalog/catalogs/{catalog}/offlineproducts:
    get:
      description: 'Use this resource to download products in a file. The export can be requested in CSV.


        - CSV delimiter is `\t` (tab)

        - CSV line is ended with `\n` (end line)

        - CSV cell is escaped when containing special characters `\t` (tab) `\n` (new line) `\r` (carriage return) with `\\t` `\\n` `\\r`

        - CSV cell is escaped with `"` (double quote) when contain double quote originally (relevant to json fields) RFC 4180


        Schema:

        - product_id (string)

        - variant_group_id (string)

        - is_available (bool) - true if product ATP > 0. This value is synchronized from Order Management. This field is eventually consistent. There is no SLA how old this value can be. Please consider using OM directly for use-cases requiring strict consistency.

        - categories (json array)

        - path (string)

        - position (int32)

        - main_category_path (string)

        - main_category_position (int32)

        - external_identifiers (json array)

        - type (string)

        - value (string)

        - extended_attributes (json array)

        - name (string)

        - value (string)

        - title (string)

        - brand (string)

        - caption (string)

        - description (string)

        - keywords (json array of strings)

        - images (json array)

        - url (string)

        - title (string)

        - identifier (string)

        - altText (string)

        - dominantColor (string)

        - width (int32)

        - height (int32)

        - aspectRatio (float32)

        - tags (json array of strings)

        - template_id string

        - price (float32) price from default pricebook

        - currency (string)

        - country_of_origin (string)

        - tax_class_id (string)

        - preorder_start (string RFC3339 truncated to seconds)

        - online_from (string RFC3339 truncated to seconds)

        - online_to (string RFC3339 truncated to seconds)

        - variation_color_value (string)

        - variation_size_value (string)

        - variation_size_gender (string)

        - variation_size_type (string)

        - variation_size_system (string)

        - variation_size_sort_position (int32)

        - variation_additional_1_name (string)

        - variation_additional_1_value (string)

        - variation_additional_2_name (string)

        - variation_additional_2_value (string)

        - product_hts_number (string)

        - schedule_b (string)

        - shipping_dimension_height (float32)

        - shipping_dimension_length (float32)

        - shipping_dimension_unit (string)

        - shipping_dimension_width (float32)

        - shipping_weight_value (float32)

        - shipping_weight_unit (string)

        - serialized_inventory (bool)

        - variable_pricing (bool)

        - inventory_tracked (bool)

        - material (string)

        - updated_at (int64 Unix Timestamp Milliseconds) - some products may have this value empty, value is then considered to be Thu Jan 01 1970 00:00:00 GMT+0000


        Files are refreshed automatically. They are scheduled daily. Usually at 8:00 UTC. They are usually finished before 9:00 UTC.

        API can be used to retrieve max 1 day old snapshot of product data.


        Response header `Last-Modified` can be used to determine when file was updated last time (example value `Mon, 18 Dec 2023 08:00:21 GMT`).

        Response header `ETag` can be used to determine whether version you already downloaded before match current one. (example value `"2ad5ba4e24fe1c0d225e9a94049f142d"`)

        Please use it with combination with `If-None-Match` request header to download file only when something changed.'
      summary: listProducts
      tags:
      - Product Export
      operationId: listProducts
      deprecated: false
      parameters:
      - name: catalog
        in: path
        required: true
        description: The catalog the product, the user wants to export, belongs to.
        schema:
          type: string
      - name: locale
        in: query
        required: false
        description: The locale the user wants to export. Example en-us.csv
        schema:
          type: string
          default: en-us
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          enum:
          - text/csv
          default: text/csv
      - name: redirect
        in: query
        required: false
        description: if true api will return HTTP 302 redirect to resource, otherwise it will return json response with link to a file.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Response with a download link
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
        '302':
          description: Temporary redirect to actual export file, stored in S3.
          headers:
            Location:
              description: The S3 presigned URL to redirect to, to access the requested product export.
              schema:
                type: string
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden, authentication scope did not met requirements
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not found
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - catalog:product-export:read
components:
  schemas:
    Problem:
      title: Problem
      type: object
      properties:
        detail:
          description: A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some description for the error situation
          type: string
        error_code:
          type: string
        instance:
          description: A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
          example: /some/uri-reference#specific-occurrence-context
          type: string
        message:
          type: string
        messages:
          type: array
          items:
            type: string
        request_id:
          type: string
        status:
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          type: integer
          minimum: 100.0
          format: int32
          exclusiveMaximum: 600.0
        title:
          description: A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some title for the error situation
          type: string
        type:
          description: A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
          example: /some/uri-reference
          type: string
          default: about:blank
    DownloadResponse:
      title: DownloadResponse
      type: object
      properties:
        download_url:
          description: The presigned URL to redirect to, to download the requested offline products.
          type: string
      required:
      - download_url
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            catalog:import-schemas:read: Grants privileges to read import schema
            catalog:import-schemas:write: Grants privileges to write import schema
            catalog:pricebook-export:read: Grants privileges to export pricebook data
            catalog:product-export:read: Grants privileges to export product data
            checkout:carts:read: Grants privileges to read cart data
            checkout:carts:write: Grants privileges to write cart data
            clienteling:profile:read: Grants privileges to read clienteling profiles
            customer:profile:read: Grants privileges to read API customer data
            customer:profile:write: Grants privileges to modify API customer data
            newstore:configuration:read: Grants privileges to read configuration
            newstore:configuration:write: Grants privileges to write configuration
            fiscalization:orders:read: View orders with fiscal transactions and signatures
            fiscalization:orders:write: Create orders with fiscal transactions and signatures
            shipments:read: Read Shipping Options and Audits
            iam:providers:read: ' Grants read privileges to provider resources'
            iam:providers:write: ' Grants write privileges to provider resources'
            iam:roles:read: ' Grants privileges to read roles data'
            iam:roles:write: ' Grants privileges to write roles data'
            iam:users:read: ' Grants privileges to read user data'
            iam:users:write: ' Grants privileges to write user data'
            inventory:reservations:read: Allows access to retrieve reservations
            inventory:reservations:write: Allows access to create and update reservations
            promotions:config:read: Grants privileges to read configuration
            promotions:config:write: Grants privileges to write into configuration
            promotions:reason-codes:read: Grants privileges to list reason codes
            promotions:reason-codes:write: Grants privileges to create and update reason codes
            audit-events:read: Grants read access to the tenant's audit events.
            taxes:preview-transactions:write: Preview tax transactions
            taxes:transactions:read: Read tax transactions
          tokenUrl: https://id.p.newstore.net/auth/realms/dodici-demo/protocol/openid-connect/token
