swagger: '2.0'
info:
  version: '1.0'
  title: NewStore address store-tax-configuration API
  description: NewStore public APIs
  contact:
    email: support@newstore.com
    name: NewStore API Support
    url: https://developer.newstore.com
host: dodici-demo.p.newstore.net
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
security: []
tags:
- name: store-tax-configuration
  description: Tax configuration - Store
paths:
  /taxes/config/stores:
    get:
      description: List store tax calculation configurations with the given query.
      summary: listStoreConfigs
      tags:
      - store-tax-configuration
      operationId: listStoreConfigs
      deprecated: false
      produces:
      - application/problem+json
      - application/json
      parameters:
      - name: limit
        in: query
        required: true
        type: integer
        format: int32
        minimum: 1.0
        maximum: 100.0
        exclusiveMaximum: false
        exclusiveMinimum: false
        description: Limit number of results to this value.
      - name: tax_calculation_strategy
        in: query
        required: false
        enum:
        - fixedrate
        - fixed_rate_per_country
        - avalara
        - vertex
        - custom
        type: string
        description: Tax calculation strategy to filter by.
      - name: next_page_key
        in: query
        required: false
        type: string
        description: Key to be used to get the next page of results.
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '200':
          description: List of tax configurations of stores.
          schema:
            $ref: '#/definitions/StoreConfigListDto'
          headers: {}
        '400':
          description: Bad request.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '401':
          description: Unauthorized.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Problem'
          headers:
            Retry-After:
              type: string
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
      security:
      - oauth:
        - newstore:configuration:read
    post:
      description: Create a tax calculation configuration for the specified store identifier.
      summary: createStoreConfig
      tags:
      - store-tax-configuration
      operationId: createStoreConfig
      deprecated: false
      produces:
      - application/problem+json
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/StoreConfigCreateDto'
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '201':
          description: Tax configuration of the store.
          schema:
            $ref: '#/definitions/StoreConfigDto'
          headers: {}
        '400':
          description: Bad request.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '401':
          description: Unauthorized.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '409':
          description: Tax configuration for the given store was already created.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Problem'
          headers:
            Retry-After:
              type: string
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
      security:
      - oauth:
        - newstore:configuration:write
  /taxes/config/stores/{id}:
    delete:
      description: Delete tax configuration for the given store identifier.
      summary: destroyStoreConfig
      tags:
      - store-tax-configuration
      operationId: destroyStoreConfig
      deprecated: false
      produces:
      - application/problem+json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: Store identifier.
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '204':
          description: Tax configuration deleted for the given store identifier.
          headers: {}
        '401':
          description: Unauthorized.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '404':
          description: Tax configuration not found.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Problem'
          headers:
            Retry-After:
              type: string
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
      security:
      - oauth:
        - newstore:configuration:write
    get:
      description: Get tax configuration for the given store identifier.
      summary: showStoreConfig
      tags:
      - store-tax-configuration
      operationId: showStoreConfig
      deprecated: false
      produces:
      - application/problem+json
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: Store identifier.
      - name: version
        in: query
        required: false
        type: integer
        format: int32
        minimum: 0.0
        exclusiveMinimum: false
        description: Specific configuration version number to fetch. If left empty, the latest version of the configuration will be returned.
      - name: merged_tenant_fallback
        in: query
        required: false
        default: true
        type: boolean
        description: Flag that indicates if the store configuration should be merged with the tenant configuration to provide tenant level fallbacks to the store. This flag defaults to true if it is not sent.
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '200':
          description: 'Tax configuration of the store.

            * If the `merged_tenant_fallback` is set to `false`, the response will contain a store configuration `StoreConfigDto`.

            * If the `merged_tenant_fallback` is set to `true` or not sent, the response will contain a merged store configuration and tenant configuration `ConfigDto`.'
          schema: {}
          headers: {}
        '400':
          description: Bad request.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '401':
          description: Unauthorized.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '404':
          description: Tax configuration not found.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Problem'
          headers:
            Retry-After:
              type: string
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
      security:
      - oauth:
        - newstore:configuration:read
    patch:
      description: Partially update the tax configuration of a store by merging the given fields with the existing fields.
      summary: updateStoreConfig
      tags:
      - store-tax-configuration
      operationId: updateStoreConfig
      deprecated: false
      produces:
      - application/problem+json
      - application/json
      consumes:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: Store identifier.
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/StoreConfigUpdateDto'
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '200':
          description: Tax configuration of the store.
          schema:
            $ref: '#/definitions/StoreConfigDto'
          headers: {}
        '401':
          description: Unauthorized.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '404':
          description: Tax configuration not found.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Problem'
          headers:
            Retry-After:
              type: string
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
      security:
      - oauth:
        - newstore:configuration:write
definitions:
  CustomConfigCreateDto:
    title: CustomConfigCreateDto
    type: object
    properties:
      additional_config:
        type: object
        allOf:
        - $ref: '#/definitions/CustomConfigAdditionalCreateDto'
        - description: Other necessary configuration specific to the custom provider (currently configs for non-officially supported avalara based custom implementation)
      api_version:
        $ref: '#/definitions/CustomApiVersion'
      authentication:
        $ref: '#/definitions/CustomConfigAuthenticationDto'
      base_url:
        description: 'The base URL for the custom taxes RESTful API. The value should include the route prefix to the quotation API.

          * Required if the `api_version` is set to `v1`.

          * If the tax calculation strategy is set to `custom` and `api_version` is set to `v1`, the given configuration will be used.'
        example: https://my.custom.domain/base_path
        type: string
      exemption_classes:
        description: A list of supported exemption classes.
        type: array
        items:
          $ref: '#/definitions/ExemptionClassItemCreateDto'
    required:
    - api_version
  StoreConfigUpdateDto:
    title: StoreConfigUpdateDto
    type: object
    properties:
      avalara:
        type: object
        allOf:
        - $ref: '#/definitions/AvalaraConfigUpdateDto'
        - description: 'Avalara configuration.

            * Required if the `tax_calculation_strategy` is set to `avalara`.

            * If the tax calculation strategy is set to `avalara`, the given configuration will be used.

            * If the Avalara configuration is defined, the configuration will be validated through a ping request to Avalara, which will validate the authenticity of Avalara credentials.'
          example:
            account_number: '2000123456'
            company_code: NEWSTOREINC
            default_customer_code: Anonymous customer
            environment: sandbox
            license_key: C1234567890ABCFE
      country_code:
        type: string
      custom:
        type: object
        allOf:
        - $ref: '#/definitions/CustomConfigUpdateDto'
        - description: 'Custom provider configuration.

            * Required if the `tax_calculation_strategy` is set to `custom`.

            * If the tax calculation strategy is set to `custom`, the given configuration will be used.'
          example:
            api_version: v1
            base_url: https://my-custom-tax-url.com
      fixed_rate:
        type: object
        allOf:
        - $ref: '#/definitions/FixedRateConfigUpdateDto'
        - description: 'Fixed rate configuration.

            * If the tax calculation strategy is set to `fixedrate`, the specified tax rate will be used.

            * For the other tax calculation strategies, the specified rate will be used as a fallback if the tax calculation fails (e.g. if the tax provider is not reachable).

            * The specified rate will be used as a fallback by the Associate App in offline-mode.'
          example:
            tax_name: Standard VAT rate for Austria
            tax_rate: 0.2
      fixed_rate_per_country:
        description: "Fixed rate configuration per country.\n* Uses ISO 3166 Alpha-2 format as the key in upper-case.\n* Fixed rate specification can be defined under each country key for the desired countries.\n* If the tax calculation strategy is set to `fixed_rate_per_country`:\n\n\n  * Fixed rate configuration must be configured.\n  * The specified tax rate will be used if the country code of the store has a fixed rate configuration.\n  * The tax calculation will fail if the country code of the store does not have a fixed rate configuration."
        example:
          AT:
            tax_name: Standard VAT rate for Austria
            tax_rate: 0.2
          DE:
            tax_name: Standard VAT rate for Germany
            tax_rate: 0.19
        type: object
        additionalProperties:
          $ref: '#/definitions/FixedRateConfigCreateDto'
      tax_calculation_strategy:
        $ref: '#/definitions/TaxCalculationStrategy'
      vertex:
        type: object
        allOf:
        - $ref: '#/definitions/VertexConfigUpdateDto'
        - description: 'Vertex configuration.

            * Required if the `tax_calculation_strategy` is set to `vertex`.

            * If the tax calculation strategy is set to `vertex`, the given configuration will be used.

            * If the Vertex configuration is defined, the configuration will be validated through a ping request to Vertex, which will validate the authenticity of Vertex credentials.'
          example:
            administrative_origin:
              city: Berlin
              country: DE
              currency_code: EUR
              currency_value: 1.1
              main_division: Berlin
              postal_code: '10785'
              street_address_1: Potsdamer Str. 7
              street_address_2: Potsdamer Platz
            company_code: '1234'
            division_code: '1234'
            flexible_fields:
            - extended_attribute_name: productClass
              target_field_id: 1
              target_field_type: flexible_code_field
            - extended_attribute_name: shoeSize
              target_field_id: 1
              target_field_type: flexible_numeric_field
            login_type: trusted_id
            soap_url: https://sandboxap2.na1.ondemand.vertexinc.com/vertex-ws/services/CalculateTax90
            trusted_id: 9SDPdc9bo3
  CustomV0AvalaraConfigUpdateDto:
    title: CustomV0AvalaraConfigUpdateDto
    type: object
    properties:
      account_number:
        description: AvaTax account number or account ID.
        example: '2000123456'
        type: string
        minLength: 1
        maxLength: 10
      company_code:
        description: 'Company code that identifies the company in the AvaTax account.

          * Value is case-sensitive.

          * Declared during the company setup in the AvaTax Admin Console.'
        example: NEWSTOREINC
        type: string
        minLength: 1
        maxLength: 25
      license_key:
        description: AvaTax license key.
        example: C1234567890ABCFE
        type: string
        minLength: 1
        maxLength: 16
        format: password
      url:
        description: Custom provider RESTful API URL that uses AvaTax v1 schema. Will be used for tax calculations.
        example: https://custom.provider.net/1.0/tax/get
        type: string
  CustomConfigAuthenticationMethod:
    title: CustomConfigAuthenticationMethod
    description: Custom provider authentication method.
    example: Basic
    type: string
    enum:
    - Basic
  VertexAuthLoginType:
    title: VertexAuthLoginType
    description: 'Vertex Login Type.

      * Used for selecting the authentication method.

      * `trusted_id` field is required if `login_type` is set to `trusted_id`.

      * `username` and `password` fields are required if `login_type` is set to `user_and_password`.'
    example: trusted_id
    type: string
    enum:
    - trusted_id
    - user_and_password
  CustomConfigAdditionalUpdateDto:
    title: CustomConfigAdditionalUpdateDto
    type: object
    properties:
      avalara:
        type: object
        allOf:
        - $ref: '#/definitions/CustomV0AvalaraConfigUpdateDto'
        - description: 'Avalara custom provider configuration.

            * Required if the `api_version` is set to `v0-avalara`.

            * If the tax calculation strategy is set to `custom` and `api_version` is set to `v0-avalara`, the given configuration will be used.'
          example:
            account_number: '2000123456'
            company_code: NEWSTOREINC
            license_key: C1234567890ABCFE
            url: https://custom.provider.net/1.0/tax/get
  VertexTargetField:
    title: VertexTargetField
    description: Vertex flexible field type.
    example: flexible_numeric_field
    type: string
    enum:
    - flexible_code_field
    - flexible_numeric_field
    - flexible_date_field
  AvalaraEnv:
    title: AvalaraEnv
    description: Avalara environment.
    example: sandbox
    type: string
    enum:
    - sandbox
    - production
  AvalaraConfigDto:
    title: AvalaraConfigDto
    type: object
    properties:
      account_number:
        description: AvaTax account number or account ID.
        example: '2000123456'
        type: string
        minLength: 1
        maxLength: 10
      company_code:
        description: 'Company code that identifies the company in the AvaTax account.

          * Value is case-sensitive.

          * Declared during the company setup in the AvaTax Admin Console.'
        example: NEWSTOREINC
        type: string
        minLength: 1
        maxLength: 25
      default_customer_code:
        description: Default customer code. Will be used in case when no ConsumerUUID is provided.
        example: Anonymous customer
        type: string
        minLength: 1
        maxLength: 50
      environment:
        $ref: '#/definitions/AvalaraEnv'
      exemption_classes:
        description: A list of mappings between `ExemptionClass` enum and Avalara custom entity use codes.
        type: array
        items:
          $ref: '#/definitions/AvalaraExemptionClassItemDto'
      license_key:
        description: AvaTax license key.
        example: C1234567890ABCFE
        type: string
        minLength: 1
        maxLength: 16
        format: password
    required:
    - account_number
    - company_code
    - environment
    - license_key
  VertexFlexibleFieldConfigDto:
    title: VertexFlexibleFieldConfigDto
    type: object
    properties:
      extended_attribute_name:
        description: The name of the extended attribute.
        example: shoeSize
        type: string
        minLength: 1
        maxLength: 255
      target_field_id:
        description: 'Vertex flexible field identifier.

          * If `target_field_type` is set to `flexible_code_field`, maximum length is 25.

          * If `target_field_type` is set to `flexible_numeric_field`, maximum length is 10.

          * If `target_field_type` is set to `flexible_date_field`, maximum length is 5.'
        example: 1
        type: integer
        minimum: 0.0
        maximum: 25.0
        format: int32
      target_field_type:
        $ref: '#/definitions/VertexTargetField'
    required:
    - extended_attribute_name
    - target_field_id
    - target_field_type
  VertexAdministrativeOriginUpdateDto:
    title: VertexAdministrativeOriginUpdateDto
    type: object
    properties:
      city:
        description: The proper name of the city used to determine the Tax Area ID.
        example: Berlin
        type: string
        minLength: 1
        maxLength: 60
      country:
        type: string
      currency_code:
        $ref: '#/definitions/Currency3'
      currency_value:
        description: The rate (multiplier) used for converting the transaction currency amount to the filing currency amount.
        example: 1.1
        type: number
        format: double
      main_division:
        description: The proper name or the postal abbreviation of the state, province, or territory used to determine the Tax Area ID.
        example: Berlin
        type: string
        minLength: 1
        maxLength: 60
      postal_code:
        description: The postal code used to determine the Tax Area ID
        example: '10785'
        type: string
        minLength: 1
        maxLength: 20
      street_address_1:
        description: The first line of the street address.
        example: Potsdamer Str. 7
        type: string
        minLength: 1
        maxLength: 100
      street_address_2:
        description: The second line of the street address.
        example: Potsdamer Platz
        type: string
        minLength: 1
        maxLength: 100
  TaxExemptionCountryCode:
    title: TaxExemptionCountryCode
    description: "The list of countries where this tax exemption class is relevant.\n    * '*' indicates worldwide support"
    example: '*'
    type: string
    enum:
    - '*'
    - AF
    - AX
    - AL
    - DZ
    - AS
    - AD
    - AO
    - AI
    - AQ
    - AG
    - AR
    - AM
    - AW
    - AU
    - AT
    - AZ
    - BS
    - BH
    - BD
    - BB
    - BY
    - BE
    - BZ
    - BJ
    - BM
    - BT
    - BO
    - BA
    - BW
    - BV
    - BR
    - IO
    - BN
    - BG
    - BF
    - BI
    - KH
    - CM
    - CA
    - CV
    - KY
    - CF
    - TD
    - CL
    - CN
    - CX
    - CC
    - CO
    - KM
    - CG
    - CD
    - CK
    - CR
    - CI
    - HR
    - CU
    - CY
    - CZ
    - DK
    - DJ
    - DM
    - DO
    - EC
    - EG
    - SV
    - GQ
    - ER
    - EE
    - ET
    - FK
    - FO
    - FJ
    - FI
    - FR
    - GF
    - PF
    - TF
    - GA
    - GM
    - GE
    - DE
    - GH
    - GI
    - GR
    - GL
    - GD
    - GP
    - GU
    - GT
    - GG
    - GN
    - GW
    - GY
    - HT
    - HM
    - VA
    - HN
    - HK
    - HU
    - IS
    - IN
    - ID
    - IR
    - IQ
    - IE
    - IM
    - IL
    - IT
    - JM
    - JP
    - JE
    - JO
    - KZ
    - KE
    - KI
    - KR
    - KW
    - KG
    - LA
    - LV
    - LB
    - LS
    - LR
    - LY
    - LI
    - LT
    - LU
    - MO
    - MK
    - MG
    - MW
    - MY
    - MV
    - ML
    - MT
    - MH
    - MQ
    - MR
    - MU
    - YT
    - MX
    - FM
    - MD
    - MC
    - MN
    - ME
    - MS
    - MA
    - MZ
    - MM
    - NA
    - NR
    - NP
    - NL
    - AN
    - NC
    - NZ
    - NI
    - NE
    - NG
    - NU
    - NF
    - MP
    - 'NO'
    - OM
    - PK
    - PW
    - PS
    - PA
    - PG
    - PY
    - PE
    - PH
    - PN
    - PL
    - PT
    - PR
    - QA
    - RE
    - RO
    - RU
    - RW
    - BL
    - SH
    - KN
    - LC
    - MF
    - PM
    - VC
    - WS
    - SM
    - ST
    - SA
    - SN
    - RS
    - SC
    - SL
    - SG
    - SK
    - SI
    - SB
    - SO
    - ZA
    - GS
    - ES
    - LK
    - SD
    - SR
    - SJ
    - SZ
    - SE
    - CH
    - SY
    - TW
    - TJ
    - TZ
    - TH
    - TL
    - TG
    - TK
    - TO
    - TT
    - TN
    - TR
    - TM
    - TC
    - TV
    - UG
    - UA
    - AE
    - GB
    - US
    - UM
    - UY
    - UZ
    - VU
    - VE
    - VN
    - VG
    - VI
    - WF
    - EH
    - YE
    - ZM
    - ZW
  ExemptionClassItemCreateDto:
    title: ExemptionClassItemCreateDto
    type: object
    properties:
      display_text:
        description: 'Display text to be used in Associate App while rendering the exemption class.

          * Required for custom tax exemption classes.

          * Optional for pre-defined tax exemption classes.

          * Keys must be a valid ISO 639-1 language code.

          * Must include English translation by default.'
        example:
          en: First Nation Citizen
          fr: Premières Nations
        type: object
        additionalProperties: {}
      exemption_class:
        $ref: '#/definitions/ExemptionClass'
      valid_countries:
        description: The list of countries where this tax exemption class is valid.
        type: array
        items:
          $ref: '#/definitions/TaxExemptionCountryCode'
    required:
    - exemption_class
    - valid_countries
  ExemptionClassItemDto:
    title: ExemptionClassItemDto
    type: object
    properties:
      display_text:
        description: 'Display text to be used in Associate App while rendering the exemption class.

          * Required for custom tax exemption classes.

          * Optional for pre-defined tax exemption classes.

          * Keys must be a valid ISO 639-1 language code.

          * Must include English translation by default.'
        example:
          en: First Nation Citizen
          fr: Premières Nations
        type: object
        additionalProperties: {}
      exemption_class:
        $ref: '#/definitions/ExemptionClass'
      valid_countries:
        description: The list of countries where this tax exemption class is valid.
        type: array
        items:
          $ref: '#/definitions/TaxExemptionCountryCode'
    required:
    - exemption_class
    - valid_countries
  ExemptionClassItemUpdateDto:
    title: ExemptionClassItemUpdateDto
    type: object
    properties:
      display_text:
        description: 'Display text to be used in Associate App while rendering the exemption class.

          * Required for custom tax exemption classes.

          * Optional for pre-defined tax exemption classes.

          * Keys must be a valid ISO 639-1 language code.

          * Must include English translation by default.'
        example:
          en: First Nation Citizen
          fr: Premières Nations
        type: object
        additionalProperties: {}
      exemption_class:
        $ref: '#/definitions/ExemptionClass'
      valid_countries:
        description: The list of countries where this tax exemption class is valid.
        type: array
        items:
          $ref: '#/definitions/TaxExemptionCountryCode'
    required:
    - exemption_class
    - valid_countries
  CustomConfigAdditionalCreateDto:
    title: CustomConfigAdditionalCreateDto
    type: object
    properties:
      avalara:
        type: object
        allOf:
        - $ref: '#/definitions/CustomV0AvalaraConfigCreateDto'
        - description: 'Avalara custom provider configuration.

            * Required if the `api_version` is set to `v0-avalara`.

            * If the tax calculation strategy is set to `custom` and `api_version` is set to `v0-avalara`, the given configuration will be used.'
          example:
            account_number: '2000123456'
            company_code: NEWSTOREINC
            license_key: C1234567890ABCFE
            url: https://custom.provider.net/1.0/tax/get
  VertexFlexibleFieldConfigCreateDto:
    title: VertexFlexibleFieldConfigCreateDto
    type: object
    properties:
      extended_attribute_name:
        description: The name of the extended attribute.
        example: shoeSize
        type: string
        minLength: 1
        maxLength: 255
      target_field_id:
        description: 'Vertex flexible field identifier.

          * If `target_field_type` is set to `flexible_code_field`, maximum length is 25.

          * If `target_field_type` is set to `flexible_numeric_field`, maximum length is 10.

          * If `target_field_type` is set to `flexible_date_field`, maximum length is 5.'
        example: 1
        type: integer
        minimum: 0.0
        maximum: 25.0
        format: int32
      target_field_type:
        $ref: '#/definitions/VertexTargetField'
    required:
    - extended_attribute_name
    - target_field_id
    - target_field_type
  TaxCalculationStrategy:
    title: TaxCalculationStrategy
    description: Tax calculation strategy.
    example: fixedrate
    type: string
    enum:
    - fixedrate
    - fixed_rate_per_country
    - avalara
    - vertex
    - custom
  StoreConfigDto:
    title: StoreConfigDto
    type: object
    properties:
      avalara:
        type: object
        allOf:
        - $ref: '#/definitions/AvalaraConfigDto'
        - description: 'Avalara configuration.

            * Required if the `tax_calculation_strategy` is set to `avalara`.

            * If the tax calculation strategy is set to `avalara`, the given configuration will be used.

            * If the Avalara configuration is defined, the configuration will be validated through a ping request to Avalara, which will validate the authenticity of Avalara credentials.'
          example:
            account_number: '2000123456'
            company_code: NEWSTOREINC
            default_customer_code: Anonymous customer
            environment: sandbox
            license_key: C1234567890ABCFE
      country_code:
        type: string
      created_at:
        description: Creation date of the configuration.
        example: '2023-02-28T16:58:46.961Z'
        type: string
        format: date-time
      custom:
        type: object
        allOf:
        - $ref: '#/definitions/CustomConfigDto'
        - description: 'Custom provider configuration.

            * Required if the `tax_calculation_strategy` is set to `custom`.

            * If the tax calculation strategy is set to `custom`, the given configuration will be used.'
          example:
            api_version: v1
            base_url: https://my-custom-tax-url.com
      fixed_rate:
        type: object
        allOf:
        - $ref: '#/definitions/FixedRateConfigDto'
        - description: 'Fixed rate configuration.

            * If the tax calculation strategy is set to `fixedrate`, the specified tax rate will be used.

            * For the other tax calculation strategies, the specified rate will be used as a fallback if the tax calculation fails (e.g. if the tax provider is not reachable).

            * The specified rate will be used as a fallback by the Associate App in offline-mode.'
          example:
            tax_name: Standard VAT rate for Austria
            tax_rate: 0.2
      fixed_rate_per_country:
        description: "Fixed rate configuration per country.\n* Uses ISO 3166 Alpha-2 format as the key in upper-case.\n* Fixed rate specification can be defined under each country key for the desired countries.\n* If the tax calculation strategy is set to `fixed_rate_per_country`:\n\n\n  * Fixed rate configuration must be configured.\n  * The specified tax rate will be used if the country code of the store has a fixed rate configuration.\n  * The tax calculation will fail if the country code of the store does not have a fixed rate configuration."
        example:
          AT:
            tax_name: Standard VAT rate for Austria
            tax_rate: 0.2
          DE:
            tax_name: Standard VAT rate for Germany
            tax_rate: 0.19
        type: object
        additionalProperties:
          $ref: '#/definitions/FixedRateConfigCreateDto'
      is_deleted:
        description: Flag that indicates if the configuration was deleted.
        example: false
        type: boolean
      store_id:
        description: Store identifier within the NewStore platform.
        example: '123'
        type: string
      tax_calculation_strategy:
        $ref: '#/definitions/TaxCalculationStrategy'
      tenant:
        description: Tenant identifier.
        example: dodici
        type: string
      updated_at:
        description: Latest update date of the configuration.
        example: '2023-02-28T16:58:46.961Z'
        type: string
        format: date-time
      updated_by:
        description: Identifier of the user who updated the current version of the configuration.
        example: '2136871599'
        type: string
      version:
        description: 'Version number of the config.

          * Version number 0 represents the system defaults.'
        example: 1
        type: integer
        format: int32
      vertex:
        type: object
        allOf:
        - $ref: '#/definitions/VertexConfigDto'
        - description: 'Vertex configuration.

            * Required if the `tax_calculation_strategy` is set to `vertex`.

            * If the tax calculation strategy is set to `vertex`, the given configuration will be used.

            * If the Vertex configuration is defined, the configuration will be validated through a ping request to Vertex, which will validate the authenticity of Vertex credentials.'
          example:
            administrative_origin:
              city: Berlin
              country: DE
              currency_code: EUR
              currency_value: 1.1
              main_division: Berlin
              postal_code: '10785'
              street_address_1: Potsdamer Str. 7
              street_address_2: Potsdamer Platz
            company_code: '1234'
            division_code: '1234'
            flexible_fields:
            - extended_attribute_name: productClass
              target_field_id: 1
              target_field_type: flexible_code_field
            - extended_attribute_name: shoeSize
              target_field_id: 1
              target_field_type: flexible_numeric_field
            login_type: trusted_id
            soap_url: https://sandboxap2.na1.ondemand.vertexinc.com/vertex-ws/services/CalculateTax90
            trusted_id: 9SDPdc9bo3
    required:
    - country_code
    - created_at
    - fixed_rate
    - store_id
    - tax_calculation_strategy
    - tenant
    - updated_at
    - updated_by
    - version
  AvalaraConfigUpdateDto:
    title: AvalaraConfigUpdateDto
    type: object
    properties:
      account_number:
        description: AvaTax account number or account ID.
        example: '2000123456'
        type: string
        minLength: 1
        maxLength: 10
      company_code:
        description: 'Company code that identifies the company in the AvaTax account.

          * Value is case-sensitive.

          * Declared during the company setup in the AvaTax Admin Console.'
        example: NEWSTOREINC
        type: string
        minLength: 1
        maxLength: 25
      default_customer_code:
        description: Default customer code. Will be used in case when no ConsumerUUID is provided.
        example: Anonymous customer
        type: string
        minLength: 1
        maxLength: 50
      environment:
        $ref: '#/definitions/AvalaraEnv'
      exemption_classes:
        description: A list of mappings between `ExemptionClass` enum and Avalara custom entity use codes.
        type: array
        items:
          $ref: '#/definitions/AvalaraExemptionClassItemUpdateDto'
      license_key:
        description: AvaTax license key.
        example: C1234567890ABCFE
        type: string
        minLength: 1
        maxLength: 16
        format: password
  FixedRateConfigDto:
    title: FixedRateConfigDto
    type: object
    properties:
      exemption_classes:
        description: A list of supported exemption classes.
        type: array
        items:
          $ref: '#/definitions/ExemptionClassItemDto'
      tax_name:
        description: Tax name to be used in the tax lines.
        example: Standard VAT rate
        type: string
      tax_rate:
        description: 'Tax rate to be used as a fixed rate during tax calculations.

          * Allows up to 5 decimal points.'
        example: 0.19
        type: number
        format: double
    required:
    - tax_rate
  StoreConfigListDto:
    title: StoreConfigListDto
    type: object
    properties:
      items:
        description: List of tax configurations of stores.
        type: array
        items:
          $ref: '#/definitions/StoreConfigDto'
      next_page_key:
        description: Key for retrieving the next page of results.
        type: string
      scan_count:
        description: Number of database scans performed to populate the list.
        example: 1
        type: integer
        format: int32
    required:
    - items
    - scan_count
  StoreConfigCreateDto:
    title: StoreConfigCreateDto
    type: object
    properties:
      avalara:
        type: object
        allOf:
        - $ref: '#/definitions/AvalaraConfigCreateDto'
        - description: 'Avalara configuration.

            * Required if the `tax_calculation_strategy` is set to `avalara`.

            * If the tax calculation strategy is set to `avalara`, the given configuration will be used.

            * If the Avalara configuration is defined, the configuration will be validated through a ping request to Avalara, which will validate the authenticity of Avalara credentials.'
          example:
            account_number: '2000123456'
            company_code: NEWSTOREINC
            default_customer_code: Anonymous customer
            environment: sandbox
            license_key: C1234567890ABCFE
      country_code:
        type: string
      custom:
        type: object
        allOf:
        - $ref: '#/definitions/CustomConfigCreateDto'
        - description: 'Custom provider configuration.

            * Required if the `tax_calculation_strategy` is set to `custom`.

            * If the tax calculation strategy is set to `custom`, the given configuration will be used.'
          example:
            api_version: v1
            base_url: https://my-custom-tax-url.com
      fixed_rate:
        type: object
        allOf:
        - $ref: '#/definitions/FixedRateConfigCreateDto'
        - description: 'Fixed rate configuration.

            * If the tax calculation strategy is set to `fixedrate`, the specified tax rate will be used.

            * For the other tax calculation strategies, the specified rate will be used as a fallback if the tax calculation fails (e.g. if the tax provider is not reachable).

            * The specified rate will be used as a fallback by the Associate App in offline-mode.'
          example:
            tax_name: Standard VAT rate for Austria
            tax_rate: 0.2
      fixed_rate_per_country:
        description: "Fixed rate configuration per country.\n* Uses ISO 3166 Alpha-2 format as the key in upper-case.\n* Fixed rate specification can be defined under each country key for the desired countries.\n* If the tax calculation strategy is set to `fixed_rate_per_country`:\n\n\n  * Fixed rate configuration must be configured.\n  * The specified tax rate will be used if the country code of the store has a fixed rate configuration.\n  * The tax calculation will fail if the country code of the store does not have a fixed rate configuration."
        example:
          AT:
            tax_name: Standard VAT rate for Austria
            tax_rate: 0.2
          DE:
            tax_name: Standard VAT rate for Germany
            tax_rate: 0.19
        type: object
        additionalProperties:
          $ref: '#/definitions/FixedRateConfigCreateDto'
      store_id:
        description: Store identifier within the NewStore platform.
        example: '123'
        type: string
      tax_calculation_strategy:
        $ref: '#/definitions/TaxCalculationStrategy'
      vertex:
        type: object
        allOf:
        - $ref: '#/definitions/VertexConfigCreateDto'
        - description: 'Vertex configuration.

            * Required if the `tax_calculation_strategy` is set to `vertex`.

            * If the tax calculation strategy is set to `vertex`, the given configuration will be used.

            * If the Vertex configuration is defined, the configuration will be validated through a ping request to Vertex, which will validate the authenticity of Vertex credentials.'
          example:
            administrative_origin:
              city: Berlin
              country: DE
              currency_code: EUR
              currency_value: 1.1
              main_division: Berlin
              postal_code: '10785'
              street_address_1: Potsdamer Str. 7
              street_address_2: Potsdamer Platz
            company_code: '1234'
            division_code: '1234'
            flexible_fields:
            - extended_attribute_name: productClass
              target_field_id: 1
              target_field_type: flexible_code_field
            - extended_attribute_name: shoeSize
              target_field_id: 1
              target_field_type: flexible_numeric_field
            login_type: trusted_id
            soap_url: https://sandboxap2.na1.ondemand.vertexinc.com/vertex-ws/services/CalculateTax90
            trusted_id: 9SDPdc9bo3
    required:
    - country_code
    - store_id
  AvalaraExemptionClassItemUpdateDto:
    title: AvalaraExemptionClassItemUpdateDto
    type: object
    properties:
      avalara_entity_use_code:
        description: 'Avalara entity use code.

          * For pre-defined tax exemption classes, value must correspond to the Avalara entity use code. For the possible options, please refer to the [List of entity use codes](https://knowledge.avalara.com/bundle/hff1682048150115_hff1682048150115/page/List_of_entity_use_codes.html).

          * For custom tax exemption classes, value must correspond to the custom entity use code defined under the exempt entity custom tax rule.'
        example: CANADA_FNC
        type: string
        minLength: 1
        maxLength: 25
      display_text:
        description: 'Display text to be used in Associate App while rendering the exemption class.

          * Required for custom tax exemption classes.

          * Optional for pre-defined tax exemption classes.

          * Keys must be a valid ISO 639-1 language code.

          * Must include English translation by default.'
        example:
          en: First Nation Citizen
          fr: Premières Nations
        type: object
        additionalProperties: {}
      exemption_class:
        $ref: '#/definitions/ExemptionClass'
      valid_countries:
        description: The list of countries where this tax exemption class is valid.
        type: array
        items:
          $ref: '#/definitions/TaxExemptionCountryCode'
    required:
    - avalara_entity_use_code
    - exemption_class
    - valid_countries
  FixedRateConfigUpdateDto:
    title: FixedRateConfigUpdateDto
    type: object
    properties:
      exemption_classes:
        description: A list of supported exemption classes.
        type: array
        items:
          $ref: '#/definitions/ExemptionClassItemUpdateDto'
      tax_name:
        description: Tax name to be used in the tax lines.
        example: Standard VAT rate
        type: string
      tax_rate:
        description: 'Tax rate to be used as a fixed rate during tax calculations.

          * Allows up to 5 decimal points.'
        example: 0.19
        type: number
        format: double
  VertexExemptionClassItemDto:
    title: VertexExemptionClassItemDto
    type: object
    properties:
      display_text:
        description: 'Display text to be used in Associate App while rendering the exemption class.

          * Required for custom tax exemption classes.

          * Optional for pre-defined tax exemption classes.

          * Keys must be a valid ISO 639-1 language code.

          * Must include English translation by default.'
        example:
          en: First Nation Citizen
          fr: Premières Nations
        type: object
        additionalProperties: {}
      exemption_class:
        $ref: '#/definitions/ExemptionClass'
      valid_countries:
        description: The list of countries where this tax exemption class is valid.
        type: array
        items:
          $ref: '#/definitions/TaxExemptionCountryCode'
      vertex_class_code:
        description: 'Vertex class code.

          * A code used to represent groups of customers, vendors, dispatchers, or recipients who have similar taxability.'
        example: '01'
        type: string
        minLength: 1
        maxLength: 20
    required:
    - exemption_class
    - valid_countries
    - vertex_class_code
  VertexAdministrativeOriginCreateDto:
    title: VertexAdministrativeOriginCreateDto
    type: object
    properties:
      city:
        description: The proper name of the city used to determine the Tax Area ID.
        example: Berlin
        type: string
        minLength: 1
        maxLength: 60
      country:
        type: string
      currency_code:
        $ref: '#/definitions/Currency3'
      currency_value:
        description: The rate (multiplier) used for converting the transaction currency amount to the filing currency amount.
        example: 1.1
        type: number
        format: double
      main_division:
        description: The proper name or the postal abbreviation of the state, province, or territory used to determine the Tax Area ID.
        example: Berlin
        type: string
        minLength: 1
        maxLength: 60
      postal_code:
        description: The postal code used to determine the Tax Area ID
        example: '10785'
        type: string
        minLength: 1
        maxLength: 20
      street_address_1:
        description: The first line of the street address.
        example: Potsdamer Str. 7
        type: string
        minLength: 1
        maxLength: 100
      street_address_2:
        description: The second line of the street address.
        example: Potsdamer Platz
        type: string
        minLength: 1
        maxLength: 100
    required:
    - city
    - country
    - currency_code
    - currency_value
    - main_division
    - postal_code
    - street_address_1
    - street_address_2
  AvalaraConfigCreateDto:
    title: AvalaraConfigCreateDto
    type: object
    properties:
      account_number:
        description: AvaTax account number or account ID.
        example: '2000123456'
        type: string
        minLength: 1
        maxLength: 10
      company_code:
        description: 'Company code that identifies the company in the AvaTax account.

          * Value is case-sensitive.

          * Declared during the company setup in the AvaTax Admin Console.'
        example: NEWSTOREINC
        type: string
        minLength: 1
        maxLength: 25
      default_customer_code:
        description: Default customer code. Will be used in case when no ConsumerUUID is provided.
        example: Anonymous customer
        type: string
        minLength: 1
        maxLength: 50
      environment:
        $ref: '#/definitions/AvalaraEnv'
      exemption_classes:
        description: A list of mappings between `ExemptionClass` enum and Avalara custom entity use codes.
        type: array
        items:
          $ref: '#/definitions/AvalaraExemptionClassItemCreateDto'
      license_key:
        description: AvaTax license key.
        example: C1234567890ABCFE
        type: string
        minLength: 1
        maxLength: 16
        format: password
    required:
    - account_number
    - company_code
    - environment
    - license_key
  VertexConfigCreateDto:
    title: VertexConfigCreateDto
    type: object
    properties:
      administrative_origin:
        type: object
        allOf:
        - $ref: '#/definitions/VertexAdministrativeOriginCreateDto'
        - description: Administrative origin information of the legal entity. Should be set based on the retailer corporate information.
          example:
            city: Berlin
            country: Germany
            currency_code: USD
            currency_value: 1.1
            main_division: Berlin
            postal_code: '10785'
            street_address_1: Potsdamer Str. 7
            street_address_2: Potsdamer Platz
      company_code:
        description: 'Vertex taxpayer code of the company.

          * Identifies the top-level legal entity (company).

          * The value should be set to the taxpayer code of the top-level taxpayer (company).'
        example: '1234'
        type: string
        minLength: 1
        maxLength: 40
      division_code:
        description: 'Vertex taxpayer code of the division.

          * Identifies the mid-level legal entity (division) under a top-level legal entity (company).

          * If exists, the value can be set to the taxpayer code of the mid-level taxpayer (division) under a top-level taxpayer (company).'
        example: '1234'
        type: string
        minLength: 1
        maxLength: 40
      exemption_classes:
        description: A list of mappings between `ExemptionClass` enum and Vertex class codes.
        type: array
        items:
          $ref: '#/definitions/VertexExemptionClassItemCreateDto'
      flexible_fields:
        description: The mapping between extended attributes of items in the NewStore platform and flexible fields as defined in Vertex.
        example:
        - extended_attribute_name: productClass
          target_field_id: 1
          target_field_type: flexible_code_field
        - extended_attribute_name: shoeSize
          target_field_id: 1
          target_field_type: flexible_numeric_field
        type: array
        items:
          $ref: '#/definitions/VertexFlexibleFieldConfigCreateDto'
      jurisdiction_in_tax_name_enabled:
        description: 'Enable appending the jurisdiction name to the tax line''s `tax_name` field.

          * This can help identify which jurisdiction imposed a given tax line.

          * Example: The tax name `Sales And Use Tax - Colorado` includes the jurisdiction name `Colorado` when the given flag is enabled.'
        example: true
        type: boolean
      login_type:
        $ref: '#/definitions/VertexAuthLoginType'
      password:
        description: 'Password of the Vertex account.

          * Required if `login_type` is set to `user_and_password`.'
        type: string
        minLength: 1
        maxLength: 255
        format: password
      soap_url:
        description: SOAP URL of the Vertex CalculateTax endpoint.
        example: https://sandboxap2.na1.ondemand.vertexinc.com/vertex-ws/services/CalculateTax90
        type: string
      trusted_id:
        description: 'Trusted ID of the Vertex account.

          * Required if `login_type` is set to `trusted_id`.'
        type: string
        minLength: 1
        maxLength: 255
        format: password
      use_location_code:
        description: 'Use Vertex location code instead of address information.

          * When this value is set to `true` the NewStore platform will use the Store IDs to communicate origin and destination addresses instead of using standard address information (address line 1, postal code, etc.).

          * Store IDs are currently only available for cash & carry orders, all other order scenarios will use the standard address information to communicate origin and destination addresses even with this value set to `true`.

          * In case the NewStore Store ID length is longer than 20 characters, NewStore will only send the first 20 characters as Vertex field length is capped at that limit.'
        example: true
        type: boolean
        default: false
      username:
        description: 'Username of the Vertex account.

          * Required if `login_type` is set to `user_and_password`.'
        type: string
        minLength: 1
        maxLength: 255
    required:
    - company_code
    - login_type
    - soap_url
  VertexFlexibleFieldConfigUpdateDto:
    title: VertexFlexibleFieldConfigUpdateDto
    type: object
    properties:
      extended_attribute_name:
        description: The name of the extended attribute.
        example: shoeSize
        type: string
        minLength: 1
        maxLength: 255
      target_field_id:
        description: 'Vertex flexible field identifier.

          * If `target_field_type` is set to `flexible_code_field`, maximum length is 25.

          * If `target_field_type` is set to `flexible_numeric_field`, maximum length is 10.

          * If `target_field_type` is set to `flexible_date_field`, maximum length is 5.'
        example: 1
        type: integer
        minimum: 0.0
        maximum: 25.0
        format: int32
      target_field_type:
        $ref: '#/definitions/VertexTargetField'
  AvalaraExemptionClassItemDto:
    title: AvalaraExemptionClassItemDto
    type: object
    properties:
      avalara_entity_use_code:
        description: 'Avalara entity use code.

          * For pre-defined tax exemption classes, value must correspond to the Avalara entity use code. For the possible options, please refer to the [List of entity use codes](https://knowledge.avalara.com/bundle/hff1682048150115_hff1682048150115/page/List_of_entity_use_codes.html).

          * For custom tax exemption classes, value must correspond to the custom entity use code defined under the exempt entity custom tax rule.'
        example: CANADA_FNC
        type: string
        minLength: 1
        maxLength: 25
      display_text:
        description: 'Display text to be used in Associate App while rendering the exemption class.

          * Required for custom tax exemption classes.

          * Optional for pre-defined tax exemption classes.

          * Keys must be a valid ISO 639-1 language code.

          * Must include English translation by default.'
        example:
          en: First Nation Citizen
          fr: Premières Nations
        type: object
        additionalProperties: {}
      exemption_class:
        $ref: '#/definitions/ExemptionClass'
      valid_countries:
        description: The list of countries where this tax exemption class is valid.
        type: array
        items:
          $ref: '#/definitions/TaxExemptionCountryCode'
    required:
    - avalara_entity_use_code
    - exemption_class
    - valid_countries
  Currency3:
    title: Currency3
    description: Currency code in ISO 4217 format.
    example: EUR
    type: string
    enum:
    - AED
    - AFN
    - ALL
    - AMD
    - ANG
    - AOA
    - ARS
    - AUD
    - AWG
    - AZN
    - BAM
    - BBD
    - BDT
    - BGN
    - BHD
    - BIF
    - BMD
    - BND
    - BOB
    - BRL
    - BSD
    - BTN
    - BWP
    - BYR
    - BZD
    - CAD
    - CDF
    - CHF
    - CLP
    - CNY
    - COP
    - CRC
    - CUC
    - CUP
    - CVE
    - CZK
    - DJF
    - DKK
    - DOP
    - DZD
    - EGP
    - ERN
    - ETB
    - EUR
    - FJD
    - FKP
    - GBP
    - GEL
    - GGP
    - GHS
    - GIP
    - GMD
    - GNF
    - GTQ
    - GYD
    - HKD
    - HNL
    - HRK
    - HTG
    - HUF
    - IDR
    - ILS
    - IMP
    - INR
    - IQD
    - IRR
    - ISK
    - JEP
    - JMD
    - JOD
    - JPY
    - KES
    - KGS
    - KHR
    - KMF
    - KPW
    - KRW
    - KWD
    - KYD
    - KZT
    - LAK
    - LBP
    - LKR
    - LRD
    - LSL
    - LYD
    - MAD
    - MDL
    - MGA
    - MKD
    - MMK
    - MNT
    - MOP
    - MRO
    - MUR
    - MVR
    - MWK
    - MXN
    - MYR
    - MZN
    - NAD
    - NGN
    - NIO
    - NOK
    - NPR
    - NZD
    - OMR
    - PAB
    - PEN
    - PGK
    - PHP
    - PKR
    - PLN
    - PYG
    - QAR
    - RON
    - RSD
    - RUB
    - RWF
    - SAR
    - SBD
    - SCR
    - SDG
    - SEK
    - SGD
    - SHP
    - SLL
    - SOS
    - SPL
    - SRD
    - STD
    - SVC
    - SYP
    - SZL
    - THB
    - TJS
    - TMT
    - TND
    - TOP
    - TRY
    - TTD
    - TVD
    - TWD
    - TZS
    - UAH
    - UGX
    - USD
    - UYU
    - UZS
    - VEF
    - VND
    - VUV
    - WST
    - XAF
    - XCD
    - XDR
    - XOF
    - XPF
    - YER
    - ZAR
    - ZMW
    - ZWD
  CustomApiVersion:
    title: CustomApiVersion
    description: Custom provider API version.
    example: v1
    type: string
    enum:
    - v0-avalara
    - v1
  CustomConfigAuthenticationDto:
    title: CustomConfigAuthenticationDto
    type: object
    properties:
      method:
        $ref: '#/definitions/CustomConfigAuthenticationMethod'
      password:
        description: Custom provider Basic authentication password.
        example: secret-password
        type: string
      username:
        description: Custom provider Basic authentication username.
        example: username
        type: string
    required:
    - method
    - password
    - username
  CustomConfigDto:
    title: CustomConfigDto
    type: object
    properties:
      additional_config:
        type: object
        allOf:
        - $ref: '#/definitions/CustomConfigAdditionalDto'
        - description: Other necessary configuration specific to the custom provider (currently configs for non-officially supported avalara based custom implementation)
      api_version:
        $ref: '#/definitions/CustomApiVersion'
      authentication:
        type: object
        allOf:
        - $ref: '#/definitions/CustomConfigAuthenticationDto'
        - description: 'Custom provider API authentication method.

            * Currently, only Basic authentication is supported.

            * If the tax calculation strategy is set to `custom` and `api_version` is set to `v1`, the given configuration will be used.'
          example:
            method: Basic
            password: pass
            username: user
      base_url:
        description: 'The base URL for the custom taxes RESTful API. The value should include the route prefix to the quotation API.

          * Required if the `api_version` is set to `v1`.

          * If the tax calculation strategy is set to `custom` and `api_version` is set to `v1`, the given configuration will be used.'
        example: https://my.custom.domain/base_path
        type: string
      exemption_classes:
        description: A list of supported exemption classes.
        type: array
        items:
          $ref: '#/definitions/ExemptionClassItemDto'
    required:
    - api_version
  Problem:
    title: Problem
    type: object
    properties:
      detail:
        description: A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
        example: some description for the error situation
        type: string
      error_code:
        type: string
      instance:
        description: A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
        example: /some/uri-reference#specific-occurrence-context
        type: string
      message:
        type: string
      messages:
        type: array
        items:
          type: string
      request_id:
        type: string
      status:
        description: The HTTP status code generated by the origin server for this occurrence of the problem.
        type: integer
        minimum: 100.0
        maximum: 600.0
        exclusiveMaximum: true
        format: int32
      title:
        description: A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
        example: some title for the error situation
        type: string
      type:
        description: A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
        example: /some/uri-reference
        type: string
        default: about:blank
  CustomConfigUpdateDto:
    title: CustomConfigUpdateDto
    type: object
    properties:
      additional_config:
        type: object
        allOf:
        - $ref: '#/definitions/CustomConfigAdditionalUpdateDto'
        - description: Other necessary configuration specific to the custom provider (currently configs for non-officially supported avalara based custom implementation)
      api_version:
        $ref: '#/definitions/CustomApiVersion'
      authentication:
        $ref: '#/definitions/CustomConfigAuthenticationDto'
      base_url:
        description: 'The base URL for the custom taxes RESTful API. The value should include the route prefix to the quotation API.

          * Required if the `api_version` is set to `v1`.

          * If the tax calculation strategy is set to `custom` and `api_version` is set to `v1`, the given configuration will be used.'
        example: https://my.custom.domain/base_path
        type: string
      exemption_classes:
        description: A list of supported exemption classes.
        type: array
        items:
          $ref: '#/definitions/ExemptionClassItemUpdateDto'
  CustomV0AvalaraConfigDto:
    title: CustomV0AvalaraConfigDto
    type: object
    properties:
      account_number:
        description: AvaTax account number or account ID.
        example: '2000123456'
        type: string
        minLength: 1
        maxLength: 10
      company_code:
        description: 'Company code that identifies the company in the AvaTax account.

          * Value is case-sensitive.

          * Declared during the company setup in the AvaTax Admin Console.'
        example: NEWSTOREINC
        type: string
        minLength: 1
        maxLength: 25
      license_key:
        description: AvaTax license key.
        example: C1234567890ABCFE
        type: string
        minLength: 1
        maxLength: 16
        format: password
      url:
        description: Custom provider RESTful API URL that uses AvaTax v1 schema. Will be used for tax calculations.
        example: https://custom.provider.net/1.0/tax/get
        type: string
    required:
    - account_number
    - company_code
    - license_key
    - url
  VertexConfigUpdateDto:
    title: VertexConfigUpdateDto
    type: object
    properties:
      administrative_origin:
        type: object
        allOf:
        - $ref: '#/definitions/VertexAdministrativeOriginUpdateDto'
        - description: Administrative origin information of the legal entity. Should be set based on the retailer corporate information.
          example:
            city: Berlin
            country: Germany
            currency_code: USD
            currency_value: 1.1
            main_division: Berlin
            postal_code: '10785'
            street_address_1: Potsdamer Str. 7
            street_address_2: Potsdamer Platz
      company_code:
        description: 'Vertex taxpayer code of the company.

          * Identifies the top-level legal entity (company).

          * The value should be set to the taxpayer code of the top-level taxpayer (company).'
        example: '1234'
        type: string
        minLength: 1
        maxLength: 40
      division_code:
        description: 'Vertex taxpayer code of the division.

          * Identifies the mid-level legal entity (division) under a top-level legal entity (company).

          * If exists, the value can be set to the taxpayer code of the mid-level taxpayer (division) under a top-level taxpayer (company).'
        example: '1234'
        type: string
        minLength: 1
        maxLength: 40
      exemption_classes:
        description: A list of mappings between `ExemptionClass` enum and Vertex class codes.
        type: array
        items:
          $ref: '#/definitions/VertexExemptionClassItemUpdateDto'
      flexible_fields:
        description: The mapping between extended attributes of items in the NewStore platform and flexible fields as defined in Vertex.
        example:
        - extended_attribute_name: productClass
          target_field_id: 1
          target_field_type: flexible_code_field
        - extended_attribute_name: shoeSize
          target_field_id: 1
          target_field_type: flexible_numeric_field
        type: array
        items:
          $ref: '#/definitions/VertexFlexibleFieldConfigUpdateDto'
      jurisdiction_in_tax_name_enabled:
        description: 'Enable appending the jurisdiction name to the tax line''s `tax_name` field.

          * This can help identify which jurisdiction imposed a given tax line.

          * Example: The tax name `Sales And Use Tax - Colorado` includes the jurisdiction name `Colorado` when the given flag is enabled.'
        example: true
        type: boolean
      login_type:
        $ref: '#/definitions/VertexAuthLoginType'
      password:
        description: 'Password of the Vertex account.

          * Required if `login_type` is set to `user_and_password`.'
        type: string
        minLength: 1
        maxLength: 255
        format: password
      soap_url:
        description: SOAP URL of the Vertex CalculateTax endpoint.
        example: https://sandboxap2.na1.ondemand.vertexinc.com/vertex-ws/services/CalculateTax90
        type: string
      trusted_id:
        description: 'Trusted ID of the Vertex account.

          * Required if `login_type` is set to `trusted_id`.'
        type: string
        minLength: 1
        maxLength: 255
        format: password
      use_location_code:
        description: 'Use Vertex location code instead of address information.

          * When this value is set to `true` the NewStore platform will use the Store IDs to communicate origin and destination addresses instead of using standard address information (address line 1, postal code, etc.).

          * Store IDs are currently only available for cash & carry orders, all other order scenarios will use the standard address information to communicate origin and destination addresses even with this value set to `true`.

          * In case the NewStore Store ID length is longer than 20 characters, NewStore will only send the first 20 characters as Vertex field length is capped at that limit.'
        example: true
        type: boolean
        default: false
      username:
        description: 'Username of the Vertex account.

          * Required if `login_type` is set to `user_and_password`.'
        type: string
        minLength: 1
        maxLength: 255
  ExemptionClass:
    title: ExemptionClass
    description: 'The tax exemption class that identifies the customer''s group/organization that accredited them with the tax exemption status.

      * For custom tax exemption classes, the `CUSTOM_` prefix with a UPPER_SNAKE_CASE key can be used. Example: `CUSTOM_CANADA`'
    example: CHARITY_ORGANIZATION
    type: string
    enum:
    - FEDERAL_GOVERNMENT
    - STATE_GOVERNMENT
    - TRIBAL_GOVERNMENT
    - LOCAL_GOVERNMENT
    - FOREIGN_DIPLOMAT
    - CHARITY_ORGANIZATION
    - RELIGIOUS_ORGANIZATION
    - EDUCATIONAL_ORGANIZATION
    - RESALE
    - DIRECT_PAY_PERMIT
    - OTHER
    - NON_RESIDENT
    - FIRST_NATION_CITIZEN
    - CUSTOM_*
  AvalaraExemptionClassItemCreateDto:
    title: AvalaraExemptionClassItemCreateDto
    type: object
    properties:
      avalara_entity_use_code:
        description: 'Avalara entity use code.

          * For pre-defined tax exemption classes, value must correspond to the Avalara entity use code. For the possible options, please refer to the [List of entity use codes](https://knowledge.avalara.com/bundle/hff1682048150115_hff1682048150115/page/List_of_entity_use_codes.html).

          * For custom tax exemption classes, value must correspond to the custom entity use code defined under the exempt entity custom tax rule.'
        example: CANADA_FNC
        type: string
        minLength: 1
        maxLength: 25
      display_text:
        description: 'Display text to be used in Associate App while rendering the exemption class.

          * Required for custom tax exemption classes.

          * Optional for pre-defined tax exemption classes.

          * Keys must be a valid ISO 639-1 language code.

          * Must include English translation by default.'
        example:
          en: First Nation Citizen
          fr: Premières Nations
        type: object
        additionalProperties: {}
      exemption_class:
        $ref: '#/definitions/ExemptionClass'
      valid_countries:
        description: The list of countries where this tax exemption class is valid.
        type: array
        items:
          $ref: '#/definitions/TaxExemptionCountryCode'
    required:
    - avalara_entity_use_code
    - exemption_class
    - valid_countries
  VertexAdministrativeOriginDto:
    title: VertexAdministrativeOriginDto
    type: object
    properties:
      city:
        description: The proper name of the city used to determine the Tax Area ID.
        example: Berlin
        type: string
        minLength: 1
        maxLength: 60
      country:
        type: string
      currency_code:
        $ref: '#/definitions/Currency3'
      currency_value:
        description: The rate (multiplier) used for converting the transaction currency amount to the filing currency amount.
        example: 1.1
        type: number
        format: double
      main_division:
        description: The proper name or the postal abbreviation of the state, province, or territory used to determine the Tax Area ID.
        example: Berlin
        type: string
        minLength: 1
        maxLength: 60
      postal_code:
        description: The postal code used to determine the Tax Area ID
        example: '10785'
        type: string
        minLength: 1
        maxLength: 20
      street_address_1:
        description: The first line of the street address.
        example: Potsdamer Str. 7
        type: string
        minLength: 1
        maxLength: 100
      street_address_2:
        description: The second line of the street address.
        example: Potsdamer Platz
        type: string
        minLength: 1
        maxLength: 100
    required:
    - city
    - country
    - currency_code
    - currency_value
    - main_division
    - postal_code
    - street_address_1
    - street_address_2
  CustomV0AvalaraConfigCreateDto:
    title: CustomV0AvalaraConfigCreateDto
    type: object
    properties:
      account_number:
        description: AvaTax account number or account ID.
        example: '2000123456'
        type: string
        minLength: 1
        maxLength: 10
      company_code:
        description: 'Company code that identifies the company in the AvaTax account.

          * Value is case-sensitive.

          * Declared during the company setup in the AvaTax Admin Console.'
        example: NEWSTOREINC
        type: string
        minLength: 1
        maxLength: 25
      license_key:
        description: AvaTax license key.
        example: C1234567890ABCFE
        type: string
        minLength: 1
        maxLength: 16
        format: password
      url:
        description: Custom provider RESTful API URL that uses AvaTax v1 schema. Will be used for tax calculations.
        example: https://custom.provider.net/1.0/tax/get
        type: string
    required:
    - account_number
    - company_code
    - license_key
    - url
  VertexExemptionClassItemUpdateDto:
    title: VertexExemptionClassItemUpdateDto
    type: object
    properties:
      display_text:
        description: 'Display text to be used in Associate App while rendering the exemption class.

          * Required for custom tax exemption classes.

          * Optional for pre-defined tax exemption classes.

          * Keys must be a valid ISO 639-1 language code.

          * Must include English translation by default.'
        example:
          en: First Nation Citizen
          fr: Premières Nations
        type: object
        additionalProperties: {}
      exemption_class:
        $ref: '#/definitions/ExemptionClass'
      valid_countries:
        description: The list of countries where this tax exemption class is valid.
        type: array
        items:
          $ref: '#/definitions/TaxExemptionCountryCode'
      vertex_class_code:
        description: 'Vertex class code.

          * A code used to represent groups of customers, vendors, dispatchers, or recipients who have similar taxability.'
        example: '01'
        type: string
        minLength: 1
        maxLength: 20
    required:
    - exemption_class
    - valid_countries
    - vertex_class_code
  VertexConfigDto:
    title: VertexConfigDto
    type: object
    properties:
      administrative_origin:
        type: object
        allOf:
        - $ref: '#/definitions/VertexAdministrativeOriginDto'
        - description: Administrative origin information of the legal entity. Should be set based on the retailer corporate information.
          example:
            city: Berlin
            country: Germany
            currency_code: USD
            currency_value: 1.1
            main_division: Berlin
            postal_code: '10785'
            street_address_1: Potsdamer Str. 7
            street_address_2: Potsdamer Platz
      company_code:
        description: 'Vertex taxpayer code of the company.

          * Identifies the top-level legal entity (company).

          * The value should be set to the taxpayer code of the top-level taxpayer (company).'
        example: '1234'
        type: string
        minLength: 1
        maxLength: 40
      division_code:
        description: 'Vertex taxpayer code of the division.

          * Identifies the mid-level legal entity (division) under a top-level legal entity (company).

          * If exists, the value can be set to the taxpayer code of the mid-level taxpayer (division) under a top-level taxpayer (company).'
        example: '1234'
        type: string
        minLength: 1
        maxLength: 40
      exemption_classes:
        description: A list of mappings between `ExemptionClass` enum and Vertex class codes.
        type: array
        items:
          $ref: '#/definitions/VertexExemptionClassItemDto'
      flexible_fields:
        description: The mapping between extended attributes of items in the NewStore platform and flexible fields as defined in Vertex.
        example:
        - extended_attribute_name: productClass
          target_field_id: 1
          target_field_type: flexible_code_field
        - extended_attribute_name: shoeSize
          target_field_id: 1
          target_field_type: flexible_numeric_field
        type: array
        items:
          $ref: '#/definitions/VertexFlexibleFieldConfigDto'
      jurisdiction_in_tax_name_enabled:
        description: 'Enable appending the jurisdiction name to the tax line''s `tax_name` field.

          * This can help identify which jurisdiction imposed a given tax line.

          * Example: The tax name `Sales And Use Tax - Colorado` includes the jurisdiction name `Colorado` when the given flag is enabled.'
        example: true
        type: boolean
      login_type:
        $ref: '#/definitions/VertexAuthLoginType'
      password:
        description: 'Password of the Vertex account.

          * Required if `login_type` is set to `user_and_password`.'
        type: string
        minLength: 1
        maxLength: 255
        format: password
      soap_url:
        description: SOAP URL of the Vertex CalculateTax endpoint.
        example: https://sandboxap2.na1.ondemand.vertexinc.com/vertex-ws/services/CalculateTax90
        type: string
      trusted_id:
        description: 'Trusted ID of the Vertex account.

          * Required if `login_type` is set to `trusted_id`.'
        type: string
        minLength: 1
        maxLength: 255
        format: password
      use_location_code:
        description: 'Use Vertex location code instead of address information.

          * When this value is set to `true` the NewStore platform will use the Store IDs to communicate origin and destination addresses instead of using standard address information (address line 1, postal code, etc.).

          * Store IDs are currently only available for cash & carry orders, all other order scenarios will use the standard address information to communicate origin and destination addresses even with this value set to `true`.

          * In case the NewStore Store ID length is longer than 20 characters, NewStore will only send the first 20 characters as Vertex field length is capped at that limit.'
        example: true
        type: boolean
        default: false
      username:
        description: 'Username of the Vertex account.

          * Required if `login_type` is set to `user_and_password`.'
        type: string
        minLength: 1
        maxLength: 255
    required:
    - company_code
    - login_type
    - soap_url
  FixedRateConfigCreateDto:
    title: FixedRateConfigCreateDto
    type: object
    properties:
      exemption_classes:
        description: A list of supported exemption classes.
        type: array
        items:
          $ref: '#/definitions/ExemptionClassItemCreateDto'
      tax_name:
        description: Tax name to be used in the tax lines.
        example: Standard VAT rate
        type: string
      tax_rate:
        description: 'Tax rate to be used as a fixed rate during tax calculations.

          * Allows up to 5 decimal points.'
        example: 0.19
        type: number
        format: double
    required:
    - tax_rate
  VertexExemptionClassItemCreateDto:
    title: VertexExemptionClassItemCreateDto
    type: object
    properties:
      display_text:
        description: 'Display text to be used in Associate App while rendering the exemption class.

          * Required for custom tax exemption classes.

          * Optional for pre-defined tax exemption classes.

          * Keys must be a valid ISO 639-1 language code.

          * Must include English translation by default.'
        example:
          en: First Nation Citizen
          fr: Premières Nations
        type: object
        additionalProperties: {}
      exemption_class:
        $ref: '#/definitions/ExemptionClass'
      valid_countries:
        description: The list of countries where this tax exemption class is valid.
        type: array
        items:
          $ref: '#/definitions/TaxExemptionCountryCode'
      vertex_class_code:
        description: 'Vertex class code.

          * A code used to represent groups of customers, vendors, dispatchers, or recipients who have similar taxability.'
        example: '01'
        type: string
        minLength: 1
        maxLength: 20
    required:
    - exemption_class
    - valid_countries
    - vertex_class_code
  CustomConfigAdditionalDto:
    title: CustomConfigAdditionalDto
    type: object
    properties:
      avalara:
        type: object
        allOf:
        - $ref: '#/definitions/CustomV0AvalaraConfigDto'
        - description: 'Avalara custom provider configuration.

            * Required if the `api_version` is set to `v0-avalara`.

            * If the tax calculation strategy is set to `custom` and `api_version` is set to `v0-avalara`, the given configuration will be used.'
          example:
            account_number: '2000123456'
            company_code: NEWSTOREINC
            license_key: C1234567890ABCFE
            url: https://custom.provider.net/1.0/tax/get
securityDefinitions:
  oauth:
    type: oauth2
    flow: application
    tokenUrl: https://id.p.newstore.net/auth/realms/dodici-demo/protocol/openid-connect/token
    scopes:
      catalog:import-schemas:read: Grants privileges to read import schema
      catalog:import-schemas:write: Grants privileges to write import schema
      catalog:pricebook-export:read: Grants privileges to export pricebook data
      catalog:product-export:read: Grants privileges to export product data
      checkout:carts:read: Grants privileges to read cart data
      checkout:carts:write: Grants privileges to write cart data
      clienteling:profile:read: Grants privileges to read clienteling profiles
      customer:profile:read: Grants privileges to read API customer data
      customer:profile:write: Grants privileges to modify API customer data
      newstore:configuration:read: Grants privileges to read configuration
      newstore:configuration:write: Grants privileges to write configuration
      fiscalization:orders:read: View orders with fiscal transactions and signatures
      fiscalization:orders:write: Create orders with fiscal transactions and signatures
      shipments:read: Read Shipping Options and Audits
      iam:providers:read: ' Grants read privileges to provider resources'
      iam:providers:write: ' Grants write privileges to provider resources'
      iam:roles:read: ' Grants privileges to read roles data'
      iam:roles:write: ' Grants privileges to write roles data'
      iam:users:read: ' Grants privileges to read user data'
      iam:users:write: ' Grants privileges to write user data'
      inventory:reservations:read: Allows access to retrieve reservations
      inventory:reservations:write: Allows access to create and update reservations
      promotions:config:read: Grants privileges to read configuration
      promotions:config:write: Grants privileges to write into configuration
      promotions:reason-codes:read: Grants privileges to list reason codes
      promotions:reason-codes:write: Grants privileges to create and update reason codes
      audit-events:read: Grants read access to the tenant's audit events.
      taxes:preview-transactions:write: Preview tax transactions
      taxes:transactions:read: Read tax transactions
