swagger: '2.0'
info:
  version: '1.0'
  title: NewStore address customer-configuration API
  description: NewStore public APIs
  contact:
    email: support@newstore.com
    name: NewStore API Support
    url: https://developer.newstore.com
host: dodici-demo.p.newstore.net
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
security: []
tags:
- name: customer-configuration
  description: Customer API Configurations
paths:
  /customer/config:
    get:
      description: 'Returns configuration settings for the tenant, including BYO CRM settings.

        '
      summary: showConfiguration
      tags:
      - customer-configuration
      operationId: showConfiguration
      deprecated: false
      produces:
      - application/problem+json
      - application/json
      parameters: []
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '200':
          description: The configuration settings.
          schema:
            $ref: '#/definitions/ConfigurationResponse'
          headers: {}
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Problem'
          headers:
            Retry-After:
              type: string
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
      security:
      - oauth:
        - newstore:configuration:read
    patch:
      description: 'Updates configuration settings for the tenant, including BYO CRM settings.


        Note that the following restrictions exist:


        - BYO CRM and `nom_consumer_profiles_merge` can''t be enabled at the same time.

        '
      summary: updateConfiguration
      tags:
      - customer-configuration
      operationId: updateConfiguration
      deprecated: false
      produces:
      - application/problem+json
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Configuration settings to update
        schema:
          $ref: '#/definitions/ConfigurationRequest'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '200':
          description: The updated configuration settings.
          schema:
            $ref: '#/definitions/ConfigurationResponse'
          headers: {}
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '422':
          description: Incompatible configuration settings.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Problem'
          headers:
            Retry-After:
              type: string
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
      security:
      - oauth:
        - newstore:configuration:write
definitions:
  ConfigurationRequest:
    title: ConfigurationRequest
    description: Configurations request for updating BYO CRM settings and customer feature toggles.
    type: object
    properties:
      byo_crm:
        type: object
        allOf:
        - $ref: '#/definitions/ByoCrmConfigRequest'
        - description: BYO CRM configuration settings
      first_and_last_name_enabled:
        description: Whether first and last name fields are enabled for the tenant.
        example: true
        type: boolean
      nom_consumer_profiles_merge:
        description: Whether consumer profile merge is enabled for the tenant.
        example: true
        type: boolean
  Problem:
    title: Problem
    type: object
    properties:
      detail:
        description: A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
        example: some description for the error situation
        type: string
      error_code:
        type: string
      instance:
        description: A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
        example: /some/uri-reference#specific-occurrence-context
        type: string
      message:
        type: string
      messages:
        type: array
        items:
          type: string
      request_id:
        type: string
      status:
        description: The HTTP status code generated by the origin server for this occurrence of the problem.
        type: integer
        minimum: 100.0
        maximum: 600.0
        exclusiveMaximum: true
        format: int32
      title:
        description: A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
        example: some title for the error situation
        type: string
      type:
        description: A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
        example: /some/uri-reference
        type: string
        default: about:blank
  ConfigurationResponse:
    title: ConfigurationResponse
    description: Configurations response containing BYO CRM settings and customer feature toggles.
    type: object
    properties:
      byo_crm:
        type: object
        allOf:
        - $ref: '#/definitions/ByoCrmConfigResponse'
        - description: BYO CRM configuration settings
      first_and_last_name_enabled:
        description: Whether first and last name fields are enabled for the tenant.
        example: true
        type: boolean
      nom_consumer_profiles_merge:
        description: Whether consumer profile merge is enabled for the tenant.
        example: true
        type: boolean
    required:
    - byo_crm
    - first_and_last_name_enabled
    - nom_consumer_profiles_merge
  ByoCrmConfigResponse:
    title: ByoCrmConfigResponse
    description: BYO CRM configuration settings
    type: object
    properties:
      api_token:
        description: API token for the CRM provider
        example: some-api-token
        type: string
      enabled:
        description: Whether BYO CRM is enabled for the tenant
        example: true
        type: boolean
        default: 'false'
      url:
        description: URL of the CRM provider
        example: https://provider-url.com
        type: string
    required:
    - api_token
    - enabled
    - url
  ByoCrmConfigRequest:
    title: ByoCrmConfigRequest
    description: BYO CRM configuration settings
    type: object
    properties:
      api_token:
        description: API token for the CRM provider, set to empty string `""` to clear the value
        example: some-api-token
        type: string
      enabled:
        description: Whether BYO CRM is enabled for the tenant
        example: true
        type: boolean
        default: false
      url:
        description: URL of the CRM provider, set to empty string `""` to clear the value
        example: https://provider-url.com
        type: string
securityDefinitions:
  oauth:
    type: oauth2
    flow: application
    tokenUrl: https://id.p.newstore.net/auth/realms/dodici-demo/protocol/openid-connect/token
    scopes:
      catalog:import-schemas:read: Grants privileges to read import schema
      catalog:import-schemas:write: Grants privileges to write import schema
      catalog:pricebook-export:read: Grants privileges to export pricebook data
      catalog:product-export:read: Grants privileges to export product data
      checkout:carts:read: Grants privileges to read cart data
      checkout:carts:write: Grants privileges to write cart data
      clienteling:profile:read: Grants privileges to read clienteling profiles
      customer:profile:read: Grants privileges to read API customer data
      customer:profile:write: Grants privileges to modify API customer data
      newstore:configuration:read: Grants privileges to read configuration
      newstore:configuration:write: Grants privileges to write configuration
      fiscalization:orders:read: View orders with fiscal transactions and signatures
      fiscalization:orders:write: Create orders with fiscal transactions and signatures
      shipments:read: Read Shipping Options and Audits
      iam:providers:read: ' Grants read privileges to provider resources'
      iam:providers:write: ' Grants write privileges to provider resources'
      iam:roles:read: ' Grants privileges to read roles data'
      iam:roles:write: ' Grants privileges to write roles data'
      iam:users:read: ' Grants privileges to read user data'
      iam:users:write: ' Grants privileges to write user data'
      inventory:reservations:read: Allows access to retrieve reservations
      inventory:reservations:write: Allows access to create and update reservations
      promotions:config:read: Grants privileges to read configuration
      promotions:config:write: Grants privileges to write into configuration
      promotions:reason-codes:read: Grants privileges to list reason codes
      promotions:reason-codes:write: Grants privileges to create and update reason codes
      audit-events:read: Grants read access to the tenant's audit events.
      taxes:preview-transactions:write: Preview tax transactions
      taxes:transactions:read: Read tax transactions
