swagger: '2.0'
info:
  version: '1.0'
  title: NewStore address data API
  description: NewStore public APIs
  contact:
    email: support@newstore.com
    name: NewStore API Support
    url: https://developer.newstore.com
host: dodici-demo.p.newstore.net
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
security: []
tags:
- name: data
  description: PII Data
paths:
  /customer/data:
    post:
      description: 'Stores a new PII data entry in a residency compliant way.

        '
      summary: createData
      tags:
      - data
      operationId: createData
      deprecated: false
      produces:
      - application/problem+json
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: The data entry to store
        schema:
          $ref: '#/definitions/CreateDataRequest'
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Problem'
          examples:
            application/problem+json:
              message: An unexpected error occurred
              request_id: req-123456
              title: Error
              type: about:blank
          headers: {}
        '201':
          description: The create data response.
          schema:
            $ref: '#/definitions/CreateDataResponse'
          examples:
            application/json:
              id: NS-EU-a5548746-acc1-4d75-81b9-72aec2bfebb7
          headers: {}
        '400':
          description: Bad Request.
          schema:
            $ref: '#/definitions/Problem'
          examples:
            application/problem+json:
              message: Invalid request parameters
              request_id: req-123456
              status: 400
              title: Bad Request
              type: about:blank
          headers: {}
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/Problem'
          examples:
            application/problem+json:
              message: Access denied
              request_id: req-123456
              status: 403
              title: Forbidden
              type: about:blank
          headers: {}
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Problem'
          headers:
            Retry-After:
              type: string
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Problem'
          examples:
            application/problem+json:
              message: An unexpected error occurred
              request_id: req-123456
              status: 500
              title: Internal Server Error
              type: about:blank
          headers: {}
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
      security:
      - oauth:
        - customer:profile:write
  /customer/data/{data_id}:
    delete:
      description: 'Deletes data entry for the given `data_id`.

        '
      summary: destroyData
      tags:
      - data
      operationId: destroyData
      deprecated: false
      produces:
      - application/problem+json
      parameters:
      - name: data_id
        in: path
        required: true
        type: string
        pattern: ^NS-[A-Z]{2}-[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[8|9|aA|bB][a-fA-F0-9]{3}-[a-fA-F0-9]{12}$
        description: Data ID
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '204':
          description: The delete data entry response.
          headers: {}
        '400':
          description: Bad Request.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '404':
          description: Data entry not found.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Problem'
          headers:
            Retry-After:
              type: string
        '500':
          description: Bad request
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
      security:
      - oauth:
        - customer:profile:write
    get:
      description: Returns data for the given `data_id`, depending on the defined content-type.
      summary: showData
      tags:
      - data
      operationId: showData
      deprecated: false
      produces:
      - application/problem+json
      - application/octet-stream
      parameters:
      - name: data_id
        in: path
        required: true
        type: string
        pattern: ^NS-[A-Z]{2}-[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[8|9|aA|bB][a-fA-F0-9]{3}-[a-fA-F0-9]{12}$
        description: Data ID
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '200':
          description: The data entry. The content-type depends on the data entry.
          schema:
            type: string
            format: binary
          headers: {}
        '400':
          description: Bad Request.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '404':
          description: The data was not found.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Problem'
          headers:
            Retry-After:
              type: string
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
      security:
      - oauth:
        - customer:profile:read
definitions:
  CreateDataResponse:
    title: CreateDataResponse
    description: Store file response.
    type: object
    properties:
      id:
        description: The ID for retriving the file content.
        example: NS-EU-a5548746-acc1-4d75-81b9-72aec2bfebb7
        type: string
        pattern: ^NS-[A-Z]{2}-[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[8|9|aA|bB][a-fA-F0-9]{3}-[a-fA-F0-9]{12}$
    required:
    - id
  CreateDataRequest:
    title: CreateDataRequest
    description: Create data request.
    type: object
    properties:
      content:
        description: The file content to store.
        type: string
        format: binary
      content_type:
        description: The media type of the content data.
        example: application/pdf
        type: string
      ttl:
        description: Time to live in days, will be kept indefinitely if not set.
        example: 30
        type: integer
        format: int64
    required:
    - content
    - content_type
  Problem:
    title: Problem
    type: object
    properties:
      detail:
        description: A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
        example: some description for the error situation
        type: string
      error_code:
        type: string
      instance:
        description: A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
        example: /some/uri-reference#specific-occurrence-context
        type: string
      message:
        type: string
      messages:
        type: array
        items:
          type: string
      request_id:
        type: string
      status:
        description: The HTTP status code generated by the origin server for this occurrence of the problem.
        type: integer
        minimum: 100.0
        maximum: 600.0
        exclusiveMaximum: true
        format: int32
      title:
        description: A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
        example: some title for the error situation
        type: string
      type:
        description: A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
        example: /some/uri-reference
        type: string
        default: about:blank
securityDefinitions:
  oauth:
    type: oauth2
    flow: application
    tokenUrl: https://id.p.newstore.net/auth/realms/dodici-demo/protocol/openid-connect/token
    scopes:
      catalog:import-schemas:read: Grants privileges to read import schema
      catalog:import-schemas:write: Grants privileges to write import schema
      catalog:pricebook-export:read: Grants privileges to export pricebook data
      catalog:product-export:read: Grants privileges to export product data
      checkout:carts:read: Grants privileges to read cart data
      checkout:carts:write: Grants privileges to write cart data
      clienteling:profile:read: Grants privileges to read clienteling profiles
      customer:profile:read: Grants privileges to read API customer data
      customer:profile:write: Grants privileges to modify API customer data
      newstore:configuration:read: Grants privileges to read configuration
      newstore:configuration:write: Grants privileges to write configuration
      fiscalization:orders:read: View orders with fiscal transactions and signatures
      fiscalization:orders:write: Create orders with fiscal transactions and signatures
      shipments:read: Read Shipping Options and Audits
      iam:providers:read: ' Grants read privileges to provider resources'
      iam:providers:write: ' Grants write privileges to provider resources'
      iam:roles:read: ' Grants privileges to read roles data'
      iam:roles:write: ' Grants privileges to write roles data'
      iam:users:read: ' Grants privileges to read user data'
      iam:users:write: ' Grants privileges to write user data'
      inventory:reservations:read: Allows access to retrieve reservations
      inventory:reservations:write: Allows access to create and update reservations
      promotions:config:read: Grants privileges to read configuration
      promotions:config:write: Grants privileges to write into configuration
      promotions:reason-codes:read: Grants privileges to list reason codes
      promotions:reason-codes:write: Grants privileges to create and update reason codes
      audit-events:read: Grants read access to the tenant's audit events.
      taxes:preview-transactions:write: Preview tax transactions
      taxes:transactions:read: Read tax transactions
