openapi: 3.2.0
info:
  version: '1.0'
  title: NewStore Package Types API
  description: NewStore public APIs
  contact:
    email: support@newstore.com
    name: NewStore API Support
    url: https://developer.newstore.com
servers:
- url: https://dodici-demo.p.newstore.net/
security: []
tags:
- name: Package Types
  description: Package Types
  externalDocs:
    url: https://docs.newstore.com/
    description: 'Package types allow associates to select which type of package they have packed items into during the packing flow in the Associate App. If no package types are configured, the step to select a package type will be skipped.


      The dimensions and weight of the selected package will be sent to the shipping adapter when booking the shipment, via the `package_option` field. See the [Shipping Provider Webhook docs](https://docs.newstore.net/api/webhooks/delivery_hook#tag/Shipments/operation/book-shipment) for more information.'
paths:
  /fulfillment/package-types:
    get:
      description: '🚧 BETA: This endpoint is in beta and may change.


        See API Lifecycle Documentation for details.


        Returns all configured package types sorted by alphabetical order. These define the packages available for an associate to choose from during the packing flow in the Associate App.'
      summary: listPackageTypes
      tags:
      - Package Types
      operationId: listPackageTypes
      deprecated: false
      responses:
        default:
          description: Default Response
          headers: {}
        '200':
          description: Successful Response
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageTypesResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PackageTypesResponse'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth: []
    post:
      description: '🚧 BETA: This endpoint is in beta and may change.


        See API Lifecycle Documentation for details.


        Creates a new package type for the tenant. Once created, the package type will be available for associates to select during the packing flow in alphabetical order in the Associate App. Returns a 201 with the new package type''s ID in the Location header.'
      summary: createPackageType
      tags:
      - Package Types
      operationId: createPackageType
      deprecated: false
      parameters:
      - name: Content-Type
        in: header
        required: false
        description: ''
        schema:
          type: string
          enum:
          - application/json
      responses:
        default:
          description: Default Response
          headers: {}
        '201':
          description: Successful Response
          headers: {}
          content:
            application/json:
              schema: {}
            application/problem+json:
              schema: {}
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePackageTypeRequest'
        required: true
  /fulfillment/package-types/{package_type_id}:
    delete:
      description: '🚧 BETA: This endpoint is in beta and may change.


        See API Lifecycle Documentation for details.


        Deletes an existing package type. Once deleted, the package type will no longer be available for associates to select during the packing flow in the Associate App. Package types are available in alphabetical order when listed.'
      summary: destroyPackageType
      tags:
      - Package Types
      operationId: destroyPackageType
      deprecated: false
      parameters:
      - name: package_type_id
        in: path
        required: true
        description: ''
        schema:
          type: string
          format: uuid
      responses:
        default:
          description: Default Response
          headers: {}
        '204':
          description: Successful Response
          headers: {}
        '404':
          description: Package type not found.
          headers: {}
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth: []
    get:
      description: '🚧 BETA: This endpoint is in beta and may change.


        See API Lifecycle Documentation for details.


        Returns a single package type by its ID. Package types are available in alphabetical order when listed.'
      summary: showPackageType
      tags:
      - Package Types
      operationId: showPackageType
      deprecated: false
      parameters:
      - name: package_type_id
        in: path
        required: true
        description: ''
        schema:
          type: string
          format: uuid
      responses:
        default:
          description: Default Response
          headers: {}
        '200':
          description: Successful Response
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageTypeResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PackageTypeResponse'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Package type not found.
          headers: {}
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth: []
    patch:
      description: '🚧 BETA: This endpoint is in beta and may change.


        See API Lifecycle Documentation for details.


        Partially updates an existing package type. Only the provided fields will be updated; omitted fields remain unchanged. Package types are available in alphabetical order when listed.'
      summary: updatePackageType
      tags:
      - Package Types
      operationId: updatePackageType
      deprecated: false
      parameters:
      - name: package_type_id
        in: path
        required: true
        description: ''
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        required: false
        description: ''
        schema:
          type: string
          enum:
          - application/json
      responses:
        default:
          description: Default Response
          headers: {}
        '200':
          description: Successful Response
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageTypeResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PackageTypeResponse'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Package type not found.
          headers: {}
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePackageTypeRequest'
        required: true
components:
  schemas:
    Problem:
      title: Problem
      type: object
      properties:
        detail:
          description: A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some description for the error situation
          type: string
        error_code:
          type: string
        instance:
          description: A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
          example: /some/uri-reference#specific-occurrence-context
          type: string
        message:
          type: string
        messages:
          type: array
          items:
            type: string
        request_id:
          type: string
        status:
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          type: integer
          minimum: 100.0
          format: int32
          exclusiveMaximum: 600.0
        title:
          description: A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some title for the error situation
          type: string
        type:
          description: A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
          example: /some/uri-reference
          type: string
          default: about:blank
    UpdatePackageTypeRequest:
      title: UpdatePackageTypeRequest
      description: 'Request body for updating an existing package type. All fields are optional;

        only provided fields will be updated.'
      type: object
      properties:
        dimensions:
          $ref: '#/components/schemas/PackageDimensions'
        name:
          description: Display name shown to associates when selecting a package.
          type: string
        weight:
          $ref: '#/components/schemas/PackageWeight'
    weight_unit:
      title: weight_unit
      description: Unit of measurement for the weight.
      type: string
      enum:
      - lb
      - oz
      - kg
      - g
    PackageDimensions:
      title: PackageDimensions
      description: The physical dimensions of a package type.
      type: object
      properties:
        height:
          description: Height of the package.
          type: number
          format: double
          exclusiveMinimum: 0.0
        length:
          description: Length of the package.
          type: number
          format: double
          exclusiveMinimum: 0.0
        unit:
          type: object
          allOf:
          - $ref: '#/components/schemas/dimension_unit'
          - description: Unit of measurement for the dimensions.
        width:
          description: Width of the package.
          type: number
          format: double
          exclusiveMinimum: 0.0
      required:
      - height
      - length
      - unit
      - width
    PackageTypeResponse:
      title: PackageTypeResponse
      description: A package type that is available for associates to select during the packing flow.
      type: object
      properties:
        dimensions:
          type: object
          allOf:
          - $ref: '#/components/schemas/PackageDimensions'
          - description: The physical dimensions of a package type.
        id:
          description: Unique identifier of the package type.
          type: string
          format: uuid
        name:
          description: Display name shown to associates when selecting a package.
          type: string
        weight:
          type: object
          allOf:
          - $ref: '#/components/schemas/PackageWeight'
          - description: The weight of a package type.
      required:
      - dimensions
      - id
      - name
      - weight
    dimension_unit:
      title: dimension_unit
      description: Unit of measurement for the dimensions.
      type: string
      enum:
      - mm
      - cm
      - m
      - in
      - ft
    CreatePackageTypeRequest:
      title: CreatePackageTypeRequest
      description: 'Request body for creating a new package type. Package types define the packages

        available for an associate to choose from during the packing flow in the Associate App.'
      example:
        dimensions:
          height: 385
          length: 70
          unit: mm
          width: 260
        name: Small Padded Satchel
        weight:
          amount: 20
          unit: g
      type: object
      properties:
        dimensions:
          type: object
          allOf:
          - $ref: '#/components/schemas/PackageDimensions'
          - description: The physical dimensions of a package type.
        name:
          description: Display name shown to associates when selecting a package.
          type: string
        weight:
          type: object
          allOf:
          - $ref: '#/components/schemas/PackageWeight'
          - description: The weight of a package type.
      required:
      - dimensions
      - name
      - weight
    PackageTypesResponse:
      title: PackageTypesResponse
      description: List of all package types configured.
      type: object
      properties:
        package_types:
          type: array
          items:
            $ref: '#/components/schemas/PackageTypeResponse'
      required:
      - package_types
    PackageWeight:
      title: PackageWeight
      description: The weight of a package type.
      type: object
      properties:
        amount:
          description: Weight of the package.
          type: number
          format: double
          exclusiveMinimum: 0.0
        unit:
          type: object
          allOf:
          - $ref: '#/components/schemas/weight_unit'
          - description: Unit of measurement for the weight.
      required:
      - amount
      - unit
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            catalog:import-schemas:read: Grants privileges to read import schema
            catalog:import-schemas:write: Grants privileges to write import schema
            catalog:pricebook-export:read: Grants privileges to export pricebook data
            catalog:product-export:read: Grants privileges to export product data
            checkout:carts:read: Grants privileges to read cart data
            checkout:carts:write: Grants privileges to write cart data
            clienteling:profile:read: Grants privileges to read clienteling profiles
            customer:profile:read: Grants privileges to read API customer data
            customer:profile:write: Grants privileges to modify API customer data
            newstore:configuration:read: Grants privileges to read configuration
            newstore:configuration:write: Grants privileges to write configuration
            fiscalization:orders:read: View orders with fiscal transactions and signatures
            fiscalization:orders:write: Create orders with fiscal transactions and signatures
            shipments:read: Read Shipping Options and Audits
            iam:providers:read: ' Grants read privileges to provider resources'
            iam:providers:write: ' Grants write privileges to provider resources'
            iam:roles:read: ' Grants privileges to read roles data'
            iam:roles:write: ' Grants privileges to write roles data'
            iam:users:read: ' Grants privileges to read user data'
            iam:users:write: ' Grants privileges to write user data'
            inventory:reservations:read: Allows access to retrieve reservations
            inventory:reservations:write: Allows access to create and update reservations
            promotions:config:read: Grants privileges to read configuration
            promotions:config:write: Grants privileges to write into configuration
            promotions:reason-codes:read: Grants privileges to list reason codes
            promotions:reason-codes:write: Grants privileges to create and update reason codes
            audit-events:read: Grants read access to the tenant's audit events.
            taxes:preview-transactions:write: Preview tax transactions
            taxes:transactions:read: Read tax transactions
          tokenUrl: https://id.p.newstore.net/auth/realms/dodici-demo/protocol/openid-connect/token
