openapi: 3.2.0
info:
  version: '1.0'
  title: NewStore Tppe API
  description: NewStore public APIs
  contact:
    email: support@newstore.com
    name: NewStore API Support
    url: https://developer.newstore.com
servers:
- url: https://dodici-demo.p.newstore.net/
security: []
tags:
- name: tppe
  description: Third Party Promotions Engine
paths:
  /promotions/configurations/{section-id}:
    get:
      description: Retrieves configuration.
      summary: showConfiguration
      tags:
      - tppe
      operationId: GetshowConfiguration
      deprecated: false
      parameters:
      - name: section-id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Integration Config Response
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationConfig'
              example:
                session_update_url: http://abc.cloudhub.io/promotion/cart-session/{customerSessionId}
            application/problem+json:
              schema:
                $ref: '#/components/schemas/IntegrationConfig'
        '400':
          description: An error response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
              example:
                message: not found
                status: 404
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error1'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: An error response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
              example:
                message: not found
                status: 404
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error1'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
              example:
                message: not found
                status: 404
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error1'
      security:
      - oauth:
        - promotions:config:read
    patch:
      description: Updates configuration.
      summary: updateConfiguration
      tags:
      - tppe
      operationId: PatchupdateConfiguration
      deprecated: false
      parameters:
      - name: Content-Type
        in: header
        required: false
        description: ''
        schema:
          type: string
          enum:
          - application/json
      - name: section-id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
        '400':
          description: An error response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
              example:
                message: not found
                status: 404
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error1'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: An error response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
              example:
                message: not found
                status: 404
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error1'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
              example:
                message: not found
                status: 404
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error1'
      security:
      - oauth:
        - promotions:config:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationConfig'
        description: Integration Config Request
components:
  schemas:
    Error1:
      title: Error1
      type: object
      properties:
        causes:
          description: A list of causes. It's optional.
          type: array
          items:
            type: string
        message:
          description: The error message.
          readOnly: true
          type: string
        status:
          description: The HTTP status code.
          readOnly: true
          type: integer
          format: int32
      required:
      - message
      - status
    Problem:
      title: Problem
      type: object
      properties:
        detail:
          description: A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some description for the error situation
          type: string
        error_code:
          type: string
        instance:
          description: A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
          example: /some/uri-reference#specific-occurrence-context
          type: string
        message:
          type: string
        messages:
          type: array
          items:
            type: string
        request_id:
          type: string
        status:
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          type: integer
          minimum: 100.0
          format: int32
          exclusiveMaximum: 600.0
        title:
          description: A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some title for the error situation
          type: string
        type:
          description: A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
          example: /some/uri-reference
          type: string
          default: about:blank
    IntegrationConfig:
      title: IntegrationConfig
      description: Third party promotions engine integration config.
      type: object
      properties:
        auth_token:
          description: The auth token that will be used as Bearer token for the authentication with the third party integration APIs. It can be empty.
          type: string
        session_update_url:
          description: 'Session Update URL.


            The URL that will be called each time the order gets updated in NewStore''s Associate App. The URL has to end with the placeholder {customerSessionId} that will be replaced with the cart ID/order ID.'
          type: string
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            catalog:import-schemas:read: Grants privileges to read import schema
            catalog:import-schemas:write: Grants privileges to write import schema
            catalog:pricebook-export:read: Grants privileges to export pricebook data
            catalog:product-export:read: Grants privileges to export product data
            checkout:carts:read: Grants privileges to read cart data
            checkout:carts:write: Grants privileges to write cart data
            clienteling:profile:read: Grants privileges to read clienteling profiles
            customer:profile:read: Grants privileges to read API customer data
            customer:profile:write: Grants privileges to modify API customer data
            newstore:configuration:read: Grants privileges to read configuration
            newstore:configuration:write: Grants privileges to write configuration
            fiscalization:orders:read: View orders with fiscal transactions and signatures
            fiscalization:orders:write: Create orders with fiscal transactions and signatures
            shipments:read: Read Shipping Options and Audits
            iam:providers:read: ' Grants read privileges to provider resources'
            iam:providers:write: ' Grants write privileges to provider resources'
            iam:roles:read: ' Grants privileges to read roles data'
            iam:roles:write: ' Grants privileges to write roles data'
            iam:users:read: ' Grants privileges to read user data'
            iam:users:write: ' Grants privileges to write user data'
            inventory:reservations:read: Allows access to retrieve reservations
            inventory:reservations:write: Allows access to create and update reservations
            promotions:config:read: Grants privileges to read configuration
            promotions:config:write: Grants privileges to write into configuration
            promotions:reason-codes:read: Grants privileges to list reason codes
            promotions:reason-codes:write: Grants privileges to create and update reason codes
            audit-events:read: Grants read access to the tenant's audit events.
            taxes:preview-transactions:write: Preview tax transactions
            taxes:transactions:read: Read tax transactions
          tokenUrl: https://id.p.newstore.net/auth/realms/dodici-demo/protocol/openid-connect/token
