openapi: 3.2.0
info:
  version: '1.0'
  title: NewStore Import Schemas API
  description: NewStore public APIs
  contact:
    email: support@newstore.com
    name: NewStore API Support
    url: https://developer.newstore.com
servers:
- url: https://dodici-demo.p.newstore.net/
security: []
tags:
- name: Import Schemas
  description: Import Schemas
paths:
  /catalog/import-schemas:
    post:
      description: 'Create new schema object containing jsonschema of version 7.

        This schema is used during import process to validate entity object before persisting it in catalog indexes.

        Valid jsonschema file

        * is validated against meta schema

        * references only properties mentioned in whitelist

        * #ref points only to local resource, e.g. external resources are not allowed.


        Here is list of whitelisted fields that can be used in schema (case sensitive):

        - brand (string, may be null)

        - title (string, may be null)

        - caption (string, may be null)

        - description (string, may be null)

        - keywords (array of strings, may be null)

        - product_id (string, max size 255, cannot contain characters `=%`)

        - variant_group_id (string, max size 255)

        - template_id (string, may be null)

        - tax_class_id (string, may be null)

        - schedule_b (string, may be null, definition)

        - product_hts_number (string, may be null)

        - google_category (string, may be null)

        - preorder_start (time RFC 3339 string, may be null)

        - online_to (time RFC 3339 string, may be null)

        - online_from (time RFC 3339 string, may be null)

        - country_of_origin (string, may be null)

        - material (string, may be null)

        - extended_attributes (array of attributes, may be null)

        - name (string, may be null)

        - value (string, may be null)

        - external_identifiers (array of identifiers, may be null)

        - type (string, may be null)

        - value (string, may be null)

        - filterable_attributes (array of attributes, may be null)

        - name (string, may be null)

        - value (string, may be null)

        - searchable_attributes (object contain key value string pairs, may be null )

        - [string] : [string] (name of searchable attribute)

        - shipping_dimension_unit (string, may be null)

        - shipping_dimension_width (number, may be null)

        - shipping_dimension_height (number, may be null)

        - shipping_dimension_length (number, may be null)

        - shipping_weight_value (number, may be null)

        - shipping_weight_unit (string, may be null)

        - variation_additional_1_name (string, may be null)

        - variation_additional_2_name (string, may be null)

        - variation_additional_1_value (string, may be null)

        - variation_additional_2_value (string, may be null)

        - variation_color_value (string, may be null)

        - variation_size_gender (string, may be null)

        - variation_size_system (string, may be null)

        - variation_size_value (string, may be null)

        - variation_size_type (string, may be null)'
      summary: createImportSchema
      tags:
      - Import Schemas
      operationId: createImportSchema
      deprecated: false
      parameters:
      - name: Content-Type
        in: header
        required: false
        description: ''
        schema:
          type: string
          enum:
          - application/schema+json
      - name: id
        in: query
        required: false
        description: default generated id is returned
        schema:
          type: string
          maxLength: 36
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      - name: entity
        in: query
        required: false
        description: default id PRODUCTS
        schema:
          type: string
          enum:
          - PRODUCTS
          minLength: 1
      responses:
        default:
          description: Unexpected error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '201':
          description: Created
          headers:
            Last-Modified:
              description: Date when of schema file was lastly modified
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ImportSchemaCreated'
            application/json:
              schema:
                $ref: '#/components/schemas/ImportSchemaCreated'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Already Exists
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - catalog:import-schemas:write
      requestBody:
        content:
          application/schema+json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  format: binary
              required:
              - body
  /catalog/import-schemas/{id}:
    delete:
      description: ''
      summary: destroyImportSchema
      tags:
      - Import Schemas
      operationId: destroyImportSchema
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
          maxLength: 36
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      responses:
        default:
          description: Unexpected error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '204':
          description: No Content
          headers: {}
        '404':
          description: Not Found
          headers: {}
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - catalog:import-schemas:write
    get:
      description: ''
      summary: showImportSchema
      tags:
      - Import Schemas
      operationId: showImportSchema
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
          maxLength: 36
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      responses:
        default:
          description: Unexpected error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/schema+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '200':
          description: OK
          headers:
            Last-Modified:
              description: Date Time when of schema file was lastly modified
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ImportSchemaGet'
            application/json:
              schema:
                $ref: '#/components/schemas/ImportSchemaGet'
            application/schema+json:
              schema:
                $ref: '#/components/schemas/ImportSchemaGet'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/schema+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/schema+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/schema+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/schema+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/schema+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/schema+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - catalog:import-schemas:read
    patch:
      description: ''
      summary: updateImportSchema
      tags:
      - Import Schemas
      operationId: updateImportSchema
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
          maxLength: 36
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      - name: Content-Type
        in: header
        required: false
        description: ''
        schema:
          type: string
          enum:
          - application/schema+json
      responses:
        default:
          description: Unexpected error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '204':
          description: Updated
          headers:
            Last-Modified:
              description: Date Time when of schema file was lastly modified
              schema:
                type: string
        '400':
          description: Bad Request
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - catalog:import-schemas:write
      requestBody:
        content:
          application/schema+json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  format: binary
              required:
              - body
components:
  schemas:
    Problem:
      title: Problem
      type: object
      properties:
        detail:
          description: A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some description for the error situation
          type: string
        error_code:
          type: string
        instance:
          description: A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
          example: /some/uri-reference#specific-occurrence-context
          type: string
        message:
          type: string
        messages:
          type: array
          items:
            type: string
        request_id:
          type: string
        status:
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          type: integer
          minimum: 100.0
          format: int32
          exclusiveMaximum: 600.0
        title:
          description: A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some title for the error situation
          type: string
        type:
          description: A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
          example: /some/uri-reference
          type: string
          default: about:blank
    ImportSchemaCreated:
      title: ImportSchemaCreated
      type: object
      properties:
        id:
          description: ID of the import schema. It must be unique per tenant and contain only ASCII characters. F.e UUID4, human readable name without spaces
          type: string
          minLength: 1
          maxLength: 36
          pattern: ^[a-zA-Z0-9_-]+$
        last_updated_at:
          description: Timestamp in RFC3339 format.
          example: '2020-01-01T00:00:00+00:00'
          type: string
          format: date-time
      required:
      - id
      - last_updated_at
    ImportSchemaGet:
      title: ImportSchemaGet
      type: object
      properties:
        entity:
          type: string
          default: PRODUCTS
        id:
          description: ID of the import schema. It must be unique per tenant and contain only ASCII characters. F.e UUID4, human readable name without spaces
          type: string
          minLength: 1
          maxLength: 36
          pattern: ^[a-zA-Z0-9_-]+$
        last_updated_at:
          description: Timestamp in RFC3339 format.
          example: '2020-01-01T00:00:00+00:00'
          type: string
          format: date-time
      required:
      - entity
      - id
      - last_updated_at
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            catalog:import-schemas:read: Grants privileges to read import schema
            catalog:import-schemas:write: Grants privileges to write import schema
            catalog:pricebook-export:read: Grants privileges to export pricebook data
            catalog:product-export:read: Grants privileges to export product data
            checkout:carts:read: Grants privileges to read cart data
            checkout:carts:write: Grants privileges to write cart data
            clienteling:profile:read: Grants privileges to read clienteling profiles
            customer:profile:read: Grants privileges to read API customer data
            customer:profile:write: Grants privileges to modify API customer data
            newstore:configuration:read: Grants privileges to read configuration
            newstore:configuration:write: Grants privileges to write configuration
            fiscalization:orders:read: View orders with fiscal transactions and signatures
            fiscalization:orders:write: Create orders with fiscal transactions and signatures
            shipments:read: Read Shipping Options and Audits
            iam:providers:read: ' Grants read privileges to provider resources'
            iam:providers:write: ' Grants write privileges to provider resources'
            iam:roles:read: ' Grants privileges to read roles data'
            iam:roles:write: ' Grants privileges to write roles data'
            iam:users:read: ' Grants privileges to read user data'
            iam:users:write: ' Grants privileges to write user data'
            inventory:reservations:read: Allows access to retrieve reservations
            inventory:reservations:write: Allows access to create and update reservations
            promotions:config:read: Grants privileges to read configuration
            promotions:config:write: Grants privileges to write into configuration
            promotions:reason-codes:read: Grants privileges to list reason codes
            promotions:reason-codes:write: Grants privileges to create and update reason codes
            audit-events:read: Grants read access to the tenant's audit events.
            taxes:preview-transactions:write: Preview tax transactions
            taxes:transactions:read: Read tax transactions
          tokenUrl: https://id.p.newstore.net/auth/realms/dodici-demo/protocol/openid-connect/token
