swagger: '2.0'
info:
  version: '1.0'
  title: NewStore address shipping-option-audits API
  description: NewStore public APIs
  contact:
    email: support@newstore.com
    name: NewStore API Support
    url: https://developer.newstore.com
host: dodici-demo.p.newstore.net
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
security: []
tags:
- name: shipping-option-audits
  description: Shipping Option Audits
paths:
  /fulfillment/shipping-audits:
    get:
      description: ''
      summary: listShippingOptionAudits
      tags:
      - shipping-option-audits
      operationId: listShippingOptionAudits
      deprecated: false
      produces:
      - application/problem+json
      - application/json
      parameters:
      - name: search_from
        in: query
        required: true
        type: string
        format: date-time
        description: ''
      - name: offset
        in: query
        required: false
        default: 0
        type: integer
        format: int64
        minimum: 0.0
        exclusiveMinimum: false
        description: ''
      - name: page_size
        in: query
        required: false
        default: 15
        type: integer
        format: int64
        minimum: 1.0
        maximum: 100.0
        exclusiveMaximum: false
        exclusiveMinimum: false
        description: ''
      - name: search_key
        in: query
        required: false
        type: string
        description: ''
      responses:
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/AuditsResponse'
          headers: {}
        '400':
          description: Validation Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Problem'
          headers:
            Retry-After:
              type: string
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
      security:
      - oauth:
        - shipments:read
  /fulfillment/shipping-audits/{audit_id}:
    get:
      description: ''
      summary: showShippingOptionAudit
      tags:
      - shipping-option-audits
      operationId: showShippingOptionAudit
      deprecated: false
      produces:
      - application/problem+json
      - application/json
      parameters:
      - name: audit_id
        in: path
        required: true
        type: string
        description: ''
      responses:
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/AuditResponse'
          headers: {}
        '400':
          description: Validation Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Problem'
          headers:
            Retry-After:
              type: string
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Problem'
          headers: {}
      security:
      - oauth:
        - shipments:read
definitions:
  AuditsResponse:
    title: AuditsResponse
    type: object
    properties:
      audits:
        type: array
        items:
          $ref: '#/definitions/AuditReadOnly'
      page_count:
        type: integer
        minimum: 0.0
        format: int64
    required:
    - audits
    - page_count
  Problem:
    title: Problem
    type: object
    properties:
      detail:
        description: A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
        example: some description for the error situation
        type: string
      error_code:
        type: string
      instance:
        description: A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
        example: /some/uri-reference#specific-occurrence-context
        type: string
      message:
        type: string
      messages:
        type: array
        items:
          type: string
      request_id:
        type: string
      status:
        description: The HTTP status code generated by the origin server for this occurrence of the problem.
        type: integer
        minimum: 100.0
        maximum: 600.0
        exclusiveMaximum: true
        format: int32
      title:
        description: A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
        example: some title for the error situation
        type: string
      type:
        description: A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
        example: /some/uri-reference
        type: string
        default: about:blank
  AuditReadOnly:
    title: AuditReadOnly
    type: object
    properties:
      created_at:
        type: string
        format: date-time
      events:
        type: array
        items:
          $ref: '#/definitions/AuditEventReadOnly'
      id:
        type: string
      request_id:
        type: string
      search_key:
        type: string
      tenant:
        type: string
      version:
        description: do NOT use this field in any way
        type: integer
        minimum: 0.0
        format: int64
    required:
    - created_at
    - events
    - id
    - request_id
    - search_key
    - tenant
  AuditEventReadOnly:
    title: AuditEventReadOnly
    type: object
    properties:
      happened_at:
        type: string
        format: date-time
      key:
        type: string
      originator:
        type: string
      value: {}
    required:
    - happened_at
    - key
    - originator
    - value
  AuditResponse:
    title: AuditResponse
    type: object
    properties:
      audit:
        $ref: '#/definitions/AuditReadOnly'
    required:
    - audit
securityDefinitions:
  oauth:
    type: oauth2
    flow: application
    tokenUrl: https://id.p.newstore.net/auth/realms/dodici-demo/protocol/openid-connect/token
    scopes:
      catalog:import-schemas:read: Grants privileges to read import schema
      catalog:import-schemas:write: Grants privileges to write import schema
      catalog:pricebook-export:read: Grants privileges to export pricebook data
      catalog:product-export:read: Grants privileges to export product data
      checkout:carts:read: Grants privileges to read cart data
      checkout:carts:write: Grants privileges to write cart data
      clienteling:profile:read: Grants privileges to read clienteling profiles
      customer:profile:read: Grants privileges to read API customer data
      customer:profile:write: Grants privileges to modify API customer data
      newstore:configuration:read: Grants privileges to read configuration
      newstore:configuration:write: Grants privileges to write configuration
      fiscalization:orders:read: View orders with fiscal transactions and signatures
      fiscalization:orders:write: Create orders with fiscal transactions and signatures
      shipments:read: Read Shipping Options and Audits
      iam:providers:read: ' Grants read privileges to provider resources'
      iam:providers:write: ' Grants write privileges to provider resources'
      iam:roles:read: ' Grants privileges to read roles data'
      iam:roles:write: ' Grants privileges to write roles data'
      iam:users:read: ' Grants privileges to read user data'
      iam:users:write: ' Grants privileges to write user data'
      inventory:reservations:read: Allows access to retrieve reservations
      inventory:reservations:write: Allows access to create and update reservations
      promotions:config:read: Grants privileges to read configuration
      promotions:config:write: Grants privileges to write into configuration
      promotions:reason-codes:read: Grants privileges to list reason codes
      promotions:reason-codes:write: Grants privileges to create and update reason codes
      audit-events:read: Grants read access to the tenant's audit events.
      taxes:preview-transactions:write: Preview tax transactions
      taxes:transactions:read: Read tax transactions
