openapi: 3.2.0
info:
  version: '1.0'
  title: NewStore Address API
  description: NewStore public APIs
  contact:
    email: support@newstore.com
    name: NewStore API Support
    url: https://developer.newstore.com
servers:
- url: https://dodici-demo.p.newstore.net/
security: []
tags:
- name: Address
  description: Customer Profile Addresses
paths:
  /customer/profiles/{profile_id}/addresses:
    get:
      description: Returns a list of addresses for given customer `profile_id`.
      summary: listAddresses
      tags:
      - Address
      operationId: listAddresses
      deprecated: false
      parameters:
      - name: profile_id
        in: path
        required: true
        description: Profile ID
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: The addresses page offset.
        schema:
          type: integer
          format: int64
          default: 0
          minimum: 0.0
      - name: count
        in: query
        required: false
        description: The number of requested addresses.
        schema:
          type: integer
          format: int64
          default: 10
          maximum: 1000.0
          minimum: 1.0
      responses:
        default:
          description: Unexpected error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '200':
          description: The addresses list.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ListAddressesResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ListAddressesResponse'
        '403':
          description: Forbidden.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Profile not found.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal server error.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - customer:profile:read
    post:
      description: 'Retrieves an existing address or creates a new address in case it has not been added yet.


        **Note:**

        A maximum of 1000 addresses can be stored per customer profile.

        When a new address is added after reaching the 1000 limit, the oldest address will be automatically replaced.'
      summary: createOrShowAddress
      tags:
      - Address
      operationId: createOrShowAddress
      deprecated: false
      parameters:
      - name: profile_id
        in: path
        required: true
        description: Profile ID
        schema:
          type: string
      - name: Content-Type
        in: header
        required: false
        description: ''
        schema:
          type: string
          enum:
          - application/json
      responses:
        default:
          description: Unexpected error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '200':
          description: Existing address response.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
        '201':
          description: The create addresses response.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
        '400':
          description: Bad Request.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Profile not found.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          description: Unable to process the entity.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal server error.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - customer:profile:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressModel'
        description: Request payload
        required: true
  /customer/profiles/{profile_id}/addresses/{address_id}:
    delete:
      description: Deletes address from the latest customer profile.
      summary: destroyAddress
      tags:
      - Address
      operationId: destroyAddress
      deprecated: false
      parameters:
      - name: profile_id
        in: path
        required: true
        description: Profile ID
        schema:
          type: string
      - name: address_id
        in: path
        required: true
        description: Address ID
        schema:
          type: string
      responses:
        default:
          description: Unexpected error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '204':
          description: The delete address response.
          headers: {}
        '400':
          description: Address deletion bad request.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Profile or address not found.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Address deletion conflict.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal server error.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - customer:profile:write
    get:
      description: Returns an address for the given customer `profile_id` and `address_id`.
      summary: showAddress
      tags:
      - Address
      operationId: showAddress
      deprecated: false
      parameters:
      - name: profile_id
        in: path
        required: true
        description: Profile ID
        schema:
          type: string
      - name: address_id
        in: path
        required: true
        description: Address ID
        schema:
          type: string
      responses:
        default:
          description: Unexpected error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '200':
          description: The address.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
        '400':
          description: Bad Request.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Profile or address not found.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal server error.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - customer:profile:read
    patch:
      description: Updates address for the given customer `profile_id` and `address_id`.
      summary: updateAddress
      tags:
      - Address
      operationId: updateAddress
      deprecated: false
      parameters:
      - name: profile_id
        in: path
        required: true
        description: Profile ID
        schema:
          type: string
      - name: address_id
        in: path
        required: true
        description: Address ID
        schema:
          type: string
      - name: Content-Type
        in: header
        required: false
        description: ''
        schema:
          type: string
          enum:
          - application/json
      responses:
        default:
          description: Unexpected error
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '200':
          description: The update address response.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
        '403':
          description: Forbidden.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Profile or address not found.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Update conflict.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          description: Unable to process the entity.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal server error.
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad Gateway
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Service Unavailable
          headers: {}
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth:
        - customer:profile:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAddressRequest'
        description: Request payload
        required: true
components:
  schemas:
    Problem:
      title: Problem
      type: object
      properties:
        detail:
          description: A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some description for the error situation
          type: string
        error_code:
          type: string
        instance:
          description: A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
          example: /some/uri-reference#specific-occurrence-context
          type: string
        message:
          type: string
        messages:
          type: array
          items:
            type: string
        request_id:
          type: string
        status:
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          type: integer
          minimum: 100.0
          format: int32
          exclusiveMaximum: 600.0
        title:
          description: A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some title for the error situation
          type: string
        type:
          description: A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
          example: /some/uri-reference
          type: string
          default: about:blank
    PaginationInfo:
      title: PaginationInfo
      description: Pagination info.
      type: object
      properties:
        count:
          description: Amount of items in the current page.
          type: integer
          format: int64
        offset:
          description: Offset of the current page.
          type: integer
          format: int64
        total:
          description: Total amount of the items for given filters set.
          type: integer
          format: int64
      required:
      - count
      - offset
      - total
    AddressResponse:
      title: AddressResponse
      type: object
      properties:
        id:
          description: Identifier of the address.
          example: NS-EU-01FXX4THCG41RFCXVEQGKD60Y4-01FXX4TTF7X8CF5JR3B35TD70F
          type: string
        address_line_1:
          description: First line of the address. Typically, the street and house number.
          type: string
        address_line_2:
          description: Second line of the address. Typically, the apartment number or PO box
          type: string
        city:
          description: The city/town of the address.
          type: string
        company_name:
          description: Company name.
          type: string
        contact_phone:
          description: Phone number of the address.
          type: string
        country_code:
          description: Country code in ISO 3166-1 alpha-2 format.
          type: string
        full_name:
          description: Full name.
          type: string
        state:
          description: State/province or region of the address.
          type: string
        zip_code:
          description: Postal code of the address.
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - country_code
      - created_at
      - updated_at
    ListAddressesResponse:
      title: ListAddressesResponse
      description: List addresses response
      type: object
      properties:
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/AddressResponse'
        pagination_info:
          $ref: '#/components/schemas/PaginationInfo'
      required:
      - addresses
      - pagination_info
    UpdateAddressRequest:
      title: UpdateAddressRequest
      description: Update address request.
      type: object
      properties:
        last_updated_at:
          type: string
          format: date-time
        address_line_1:
          description: First line of the address. Typically, the street and house number.
          type: string
        address_line_2:
          description: Second line of the address. Typically, the apartment number or PO box
          type: string
        city:
          description: The city/town of the address.
          type: string
        company_name:
          description: Company name.
          type: string
        contact_phone:
          description: Phone number of the address.
          type: string
        country_code:
          description: Country code in ISO 3166-1 alpha-2 format.
          type: string
        full_name:
          description: Full name.
          type: string
        state:
          description: State/province or region of the address.
          type: string
        zip_code:
          description: Postal code of the address.
          type: string
      required:
      - last_updated_at
    AddressModel:
      title: AddressModel
      description: Address model request without autogenerated fields like created_at, token, id, etc..
      type: object
      properties:
        address_line_1:
          description: First line of the address. Typically, the street and house number.
          type: string
        address_line_2:
          description: Second line of the address. Typically, the apartment number or PO box
          type: string
        city:
          description: The city/town of the address.
          type: string
        company_name:
          description: Company name.
          type: string
        contact_phone:
          description: Phone number of the address.
          type: string
        country_code:
          description: Country code in ISO 3166-1 alpha-2 format.
          type: string
        full_name:
          description: Full name.
          type: string
        state:
          description: State/province or region of the address.
          type: string
        zip_code:
          description: Postal code of the address.
          type: string
      required:
      - country_code
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            catalog:import-schemas:read: Grants privileges to read import schema
            catalog:import-schemas:write: Grants privileges to write import schema
            catalog:pricebook-export:read: Grants privileges to export pricebook data
            catalog:product-export:read: Grants privileges to export product data
            checkout:carts:read: Grants privileges to read cart data
            checkout:carts:write: Grants privileges to write cart data
            clienteling:profile:read: Grants privileges to read clienteling profiles
            customer:profile:read: Grants privileges to read API customer data
            customer:profile:write: Grants privileges to modify API customer data
            newstore:configuration:read: Grants privileges to read configuration
            newstore:configuration:write: Grants privileges to write configuration
            fiscalization:orders:read: View orders with fiscal transactions and signatures
            fiscalization:orders:write: Create orders with fiscal transactions and signatures
            shipments:read: Read Shipping Options and Audits
            iam:providers:read: ' Grants read privileges to provider resources'
            iam:providers:write: ' Grants write privileges to provider resources'
            iam:roles:read: ' Grants privileges to read roles data'
            iam:roles:write: ' Grants privileges to write roles data'
            iam:users:read: ' Grants privileges to read user data'
            iam:users:write: ' Grants privileges to write user data'
            inventory:reservations:read: Allows access to retrieve reservations
            inventory:reservations:write: Allows access to create and update reservations
            promotions:config:read: Grants privileges to read configuration
            promotions:config:write: Grants privileges to write into configuration
            promotions:reason-codes:read: Grants privileges to list reason codes
            promotions:reason-codes:write: Grants privileges to create and update reason codes
            audit-events:read: Grants read access to the tenant's audit events.
            taxes:preview-transactions:write: Preview tax transactions
            taxes:transactions:read: Read tax transactions
          tokenUrl: https://id.p.newstore.net/auth/realms/dodici-demo/protocol/openid-connect/token
